{% extends "base-without-header.html" %}
{% load static %}
{% load humanize %}
{% block title %} | CAMBIA CONTRASEÑA{% endblock %}
{% block content %}
{% include 'partials/_alerts.html' %}

{% if user.is_authenticated %}
<!-- Section -->
<section class="fullscreen" data-bg-parallax="{% static 'images/fondos/guitar-3492302.jpg' %}">
    <div class="container">
        <div>
            <div class="text-center m-b-30">
                <a href="{% url 'index' %}" class="logo">
                    <img src="{% static 'images/iconos/logo_rojo_negro.png' %}" alt="Polo Logo">
                </a>
            </div>

            <div class="row">
                <div class="col-lg-6 center p-40 background-white b-r-6">
                    <form id="formtocheck" class="form-transparent-grey" action="{% url 'cambiocontra' %}" method="POST">
                      {% csrf_token %}
                        <div class="row">
                            <div class="col-lg-12">
                                <h3>Cambio Contraseña</h3>
                                <p>Por favor, completa la información requerida</p>
                                <p hidden id="mensajerror"></p>
                            </div>
                            <div class="col-lg-12 form-group">
                                <label class="sr-only">Contraseña Actual</label>
                                <input id="primercampo" type="password" value="" placeholder="Contraseña Actual" class="requerido form-control" name="contraact">
                            </div>
                            <div class="col-lg-12 form-group">
                                <label class="sr-only">Nueva Contraseña</label>
                                <input type="password" value="" placeholder="Nueva Contraseña" class="requerido form-control" name="password1">
                            </div>
                            <div class="col-lg-12 form-group">
                                <label class="sr-only">Repite Nueva Contraseña</label>
                                <input type="password" value="" placeholder="Repite Nueva Contraseña" class="requerido form-control" name="password2">
                            </div>
                            <div class="col-lg-12 form-group">
                                <button class="btn" type="submit">Actualizar Contraseña</button>
                                <a href="{% url 'index' %}" class="btn btn-danger m-l-10">Anular</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>


        </div>
    </div>
</section>
{% endif %}
<!-- end: Section -->

{% endblock %}
