{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load thumbnail %}
{% block title %} | CUENTA{% endblock %}
{% block content %}

{% include 'partials/_alerts.html' %}

{% if user.is_authenticated %}
<section id="page-content">
    <div class="container">
        <div class="row">
            <div class="content col-lg-12">
              <div class="card">
                  <div class="card-header">
                      <h5 class="card-title">Horizontal form</h5>
                      <h6 class="card-subtitle text-muted">Horizontal Bootstrap layout.</h6>
                  </div>
                  <div class="card-body">
                      <form action="{% url 'actualizar' %}" method="POST">
                        {% csrf_token %}
                          <div class="form-group row">
                              <label class="col-form-label col-sm-2 text-sm-right">Email</label>
                              <div class="col-sm-10">
                                  <input type="email" class="form-control" placeholder="Email" value="{{ user.email }}" readonly>
                              </div>
                          </div>
                          <div class="form-group row">
                              <label class="col-form-label col-sm-2 text-sm-right">Nombre Usuario</label>
                              <div class="col-sm-10">
                                  <input type="text" class="form-control" placeholder="Email" value="{{ user.username }}" readonly>
                              </div>
                          </div>
                          <div class="form-group row">
                              <label class="col-form-label col-sm-2 text-sm-right">Nombre</label>
                              <div class="col-sm-10">
                                  <input type="text" class="form-control" placeholder="Email" value="{{ user.first_name }}" name="nombre">
                              </div>
                          </div>
                          <div class="form-group row">
                              <label class="col-form-label col-sm-2 text-sm-right">Apellido</label>
                              <div class="col-sm-10">
                                  <input type="text" class="form-control" placeholder="Email" value="{{ user.last_name }}" name="apellido">
                              </div>
                          </div>
                          <div class="form-group row">
                              <div class="col-sm-10 ml-sm-auto">
                                  <button type="submit" class="btn btn-primary">Actualizar</button>
                              </div>
                          </div>
                      </form>
                  </div>
              </div>

            </div>
        </div>
    </div>
</section>
{% else %}
<section id="page-content">
    <div class="container">
      <div data-animate="fadeInUp" class="text-center">
          <a href="{% url 'ingresar' %}?next={{request.path|urlencode}}" class="btn">INGRESA A TU CUENTA</a>
      </div>
    </div>
</section>
{% endif %}

{% endblock %}
