{% extends "base-without-header.html" %}
{% load static %}
{% load humanize %}
{% block title %} | INGRESAR{% endblock %}
{% block content %}
{% include 'partials/_alerts.html' %}

<!-- Section -->
<section class="fullscreen" data-bg-parallax="{% static 'images/fondos/guitar-3492302.jpg' %}">
    <div class="container">
        <div>
            <div class="text-center m-b-30">
                <a href="{% url 'index' %}" class="logo">
                    <img src="{% static 'images/iconos/logo_rojo_negro.png' %}" alt="Polo Logo">
                </a>
            </div>
            <div class="row">
                <div class="col-lg-5 center p-50 background-white b-r-6">
                    <h3>Ingresa a tu Cuenta</h3>
                    <form action="{% url 'ingresar' %}" method="POST">
                      {% csrf_token %}
                        <div class="form-group">
                            <label class="sr-only">Nombre Usuario</label>
                            <input type="text" class="form-control" placeholder="Nombre Usuario" name="nombreusuario">
                        </div>
                        <div class="form-group m-b-5">
                            <label class="sr-only">Contraseña</label>
                            <input type="password" class="form-control" placeholder="Contraseña" name="contra">
                        </div>
                        <br>
                        <div class="text-left form-group">
                            <button type="submit" class="btn">Ingresar</button>
                            <a href="{% url 'index' %}" class="btn btn-danger m-l-10">Anular</a>
                        </div>
                        <input type="hidden" name="tocata_id" value="{{ valores.tocata_id }}">
                    </form>
                    <p class="small">¿Olvidates tu contraseña?<a href="{% url 'password_reset' %}"> Recuperar Contraseña</a></p>
                    <p class="small">¿Quieres crear una cuenta?<a href="{% url 'registrar' %}"> Registrate</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end: Section -->

{% endblock %}
