{% extends "base-without-header.html" %}
{% load static %}
{% load humanize %}
{% block title %} | REGISTRAR ARTISTAS{% endblock %}
{% block content %}

<!-- Section -->
{% include 'partials/_alerts.html' %}

<section class="fullscreen" data-bg-parallax="{% static 'images/fondos/audience-concert-lights-men-1150836.jpg' %}">
    <div class="container">
        <div>
            <div class="text-center m-b-30">
                <a href="{% url 'index' %}" class="logo">
                    <img src="{% static 'images/iconos/logo_rojo_negro.png' %}" alt="Polo Logo">
                </a>
            </div>
            <div class="row">
                <div class="col-lg-6 center p-40 background-white b-r-6">
                    <form class="form-transparent-grey" action="{% url 'registrarart' %}" method="POST">
                      {% csrf_token %}
                      {{ form.non_field_errors }}
                      {{ usuario_art_form.non_field_errors }}
                        <div class="row">
                            <div class="col-lg-12">
                                <h3>Registrate.</h3>
                                <p>Por favor, completa la información requerida.{{ artistaini }}</p>
                            </div>
                            <input hidden type="text" value="{{ artistaini.id }}" class="form-control" name="artistaid">
                            <input hidden type="text" value="{{ artistaini.email }}" class="form-control" name="username">
                            <div class="col-lg-12 form-group">
                                <label class="sr-only">Email</label>
                                <input type="email" value="{{ artistaini.email }}" placeholder="Email" class="form-control" name="email" readonly>
                            </div>
                            <div class="col-lg-6 form-group">
                                <label class="sr-only">Nombre</label>
                                {% if form.first_name.value %}
                                <input id="primercampo" type="text" value="{{ form.first_name.value }}" placeholder="Nombre" class="form-control" name="first_name">
                                {% else %}
                                <input id="primercampo" type="text" value="" placeholder="Nombre" class="form-control" name="first_name">
                                {% endif %}
                            </div>
                            <div class="col-lg-6 form-group">
                                <label class="sr-only">Apellido</label>
                                {% if form.last_name.value %}
                                <input type="text" value="{{ form.last_name.value }}" placeholder="Apellido" class="form-control" name="last_name">
                                {% else %}
                                <input type="text" value="" placeholder="Apellido" class="form-control" name="last_name">
                                {% endif %}
                            </div>
                            <div class="col-lg-8 form-group">
                                <label class="sr-only">RUT</label>
                                {% if usuario_art_form.rut.value %}
                                <input type="number" value="{{ usuario_art_form.rut.value }}" placeholder="RUT" class="form-control" name="rut">
                                {% else %}
                                <input type="number" value="" placeholder="RUT" class="form-control" name="rut">
                                {% endif %}
                            </div>
                            <div class="col-lg-4 form-group">
                                <label class="sr-only">Digito Verificador</label>
                                {% if usuario_art_form.digitoVerificador.value %}
                                <input type="number" value="{{ usuario_art_form.digitoVerificador.value }}" placeholder="Digito Ver." class="form-control" name="digitoVerificador">
                                {% else %}
                                <input type="number" value="" placeholder="Digito Ver." class="form-control" name="digitoVerificador">
                                {% endif %}
                            </div>
                            <div class="input-group col-lg-12">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">( +56 ) 9</span>
                                </div>
                                {% if usuario_art_form.num_celular.value %}
                                <input type="number" value="{{ usuario_art_form.num_celular.value }}" class="form-control" placeholder="Número Celular" name="num_celular">
                                {% else %}
                                <input type="number" value="" class="form-control" placeholder="Número Celular" name="num_celular">
                                {% endif %}
                            </div>
                            <div class="form-group col-lg-12">
                                <label for="{{ usuario_art_form.banco.id_for_label }}">{{ usuario_art_form.banco.label_tag }}</label>
                                <select class="form-control" name="{{ usuario_art_form.banco.html_name }}">
                                  {% for banco in usuario_art_form.banco.field.choices %}
                                    <option value="{{ banco.0 }}">{{ banco.1 }}</option>
                                  {% endfor %}
                                </select>
                            </div>
                            <div class="col-lg-6 form-group">
                                <label class="sr-only">Número Cuenta</label>
                                {% if usuario_art_form.num_cuenta.value %}
                                <input type="text" value="{{ usuario_art_form.num_cuenta.value }}" placeholder="Número Cuenta" class="form-control" name="num_cuenta">
                                {% else %}
                                <input type="text" value="" placeholder="Número Cuenta" class="form-control" name="num_cuenta">
                                {% endif %}
                            </div>
                            <div class="form-group col-lg-6">
                                <select class="form-control" name="{{ usuario_art_form.tipo_cuenta.html_name }}">
                                  {% for tipo in usuario_art_form.tipo_cuenta.field.choices %}
                                    <option value="{{ tipo.0 }}">{{ tipo.1 }}</option>
                                  {% endfor %}
                                </select>
                            </div>
                            <div class="col-lg-6 form-group">
                                <label class="sr-only">Contraseña</label>
                                <input type="password" value="" placeholder="Contraseña" class="form-control" name="password1">
                            </div>
                            <div class="col-lg-6 form-group">
                                <label class="sr-only">Repite Contraseña</label>
                                <input type="password" value="" placeholder="Repite Contraseña" class="form-control" name="password2">
                            </div>

                            <div class="col-lg-12 form-group">
                                <button class="btn" type="submit">Registrar Nueva Cuenta </button>
                                <a href="{% url 'index' %}" class="btn btn-danger m-l-10">Anular</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end: Section -->

{% endblock %}
