{% extends "base-without-header.html" %}
{% load static %}
{% load humanize %}
{% block title %} | REGISTRAR ARTISTAS{% endblock %}
{% block content %}

<!-- Section -->
{% include 'partials/_alerts.html' %}

<section class="fullscreen" style="background-image: url({% static 'images/pages/1.jpg' %})">
    <div class="container container-fullscreen">
        <div class="text-middle">
            <div class="text-center m-b-30">
                <a href="{% url 'index' %}" class="logo">
                    <img src="{% static 'images/logo-dark.png' %}" alt="Polo Logo">
                </a>
            </div>
            <div class="row">
                <div class="col-lg-6 center p-40 background-white b-r-6">
                    <form class="form-transparent-grey" action="{% url 'registrarart' %}" method="POST">
                      {% csrf_token %}
                      {{ form.non_field_errors }}
                      {{ usuario_form.non_field_errors }}
                      {{ usuario_art_form.non_field_errors }}
                        <div class="row">
                            <div class="col-lg-12">
                                <h3>Registrate - Artistas</h3>
                                <p>Por favor, completa la información requerida</p>
                            </div>
                            <div class="col-lg-6 form-group">
                                <label class="sr-only">Nombre Usuario</label>
                                <input type="text" value="" placeholder="Nombre Usuario" class="form-control" name="username">
                            </div>
                            <div class="col-lg-6 form-group">
                                <label class="sr-only">Email</label>
                                <input type="text" value="" placeholder="Email" class="form-control" name="email">
                            </div>
                            <div class="col-lg-6 form-group">
                                <label class="sr-only">RUT</label>
                                <input type="text" value="" placeholder="RUT" class="form-control" name="rut">
                            </div>
                            <div class="col-lg-6 form-group">
                                <label class="sr-only">Digito Verificador</label>
                                <input type="text" value="" placeholder="Digito Verificador" class="form-control" name="digitoVerificador">
                            </div>
                            <div class="input-group col-lg-12">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">( +56 ) 9</span>
                                </div>
                                <input type="text" value="" class="form-control" placeholder="Número Celular" name="num_celular">
                            </div>
                            <div class="form-group col-lg-12">
                                <label for="{{ usuario_art_form.banco.id_for_label }}">{{ usuario_art_form.banco.label_tag }}</label>
                                <select class="form-control" name="{{ usuario_art_form.banco.html_name }}">
                                  {% for banco in usuario_art_form.banco.field.choices %}
                                    <option value="{{ banco.0 }}">{{ banco.1 }}</option>
                                  {% endfor %}
                                </select>
                            </div>
                            <div class="col-lg-6 form-group">
                                <label class="sr-only">Número Cuenta</label>
                                <input type="text" value="" placeholder="Número Cuenta" class="form-control" name="num_cuenta">
                            </div>
                            <div class="form-group col-lg-6">
                                <select class="form-control" name="{{ usuario_art_form.tipo_cuenta.html_name }}">
                                  {% for tipo in usuario_art_form.tipo_cuenta.field.choices %}
                                    <option value="{{ tipo.0 }}">{{ tipo.1 }}</option>
                                  {% endfor %}
                                </select>
                            </div>
                            <div class="form-group col-lg-12">
                                <label for="{{ usuario_art_form.artista.id_for_label }}">{{ usuario_art_form.artista.label_tag }}</label>
                                <select class="form-control" name="{{ usuario_art_form.artista.html_name }}">
                                  {% for artista in usuario_art_form.artista.field.choices %}
                                    <option value="{{ artista.0 }}">{{ artista.1 }}</option>
                                  {% endfor %}
                                </select>
                            </div>
                            <div class="col-lg-6 form-group">
                                <label class="sr-only">Contraseña</label>
                                <input type="password" value="" placeholder="Contraseña" class="form-control" name="password1">
                            </div>
                            <div class="col-lg-6 form-group">
                                <label class="sr-only">Repite Contraseña</label>
                                <input type="password" value="" placeholder="Repite Contraseña" class="form-control" name="password2">
                            </div>
                            <div class="col-lg-12 form-group">
                                <button class="btn" type="submit">Registrar Nueva Cuenta </button>
                                <button type="button" class="btn btn-danger m-l-10">Anular</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end: Section -->

{% endblock %}
