{% extends "base-without-header.html" %}
{% load static %}
{% load humanize %}
{% block title %} | REGISTRAR{% endblock %}
{% block content %}

{% include 'partials/_alerts.html' %}

<!-- Section -->
<section class="fullscreen" data-bg-parallax="{% static 'images/fondos/guitar-3492302.jpg' %}">
    <div class="container">
        <div>
            <div class="text-center m-b-30">
                <a href="{% url 'index' %}" class="logo">
                    <img src="{% static 'images/iconos/logo_rojo_negro.png' %}" alt="Polo Logo">
                </a>
            </div>
            <div class="row">
                <div class="col-lg-6 center p-40 background-white b-r-6">
                    <form class="form-transparent-grey" action="{% url 'registrar' %}" method="POST">
                      {% csrf_token %}
                      {{ form.non_field_errors }}
                      {{ usuario_form.non_field_errors }}
                        <div class="row">
                            <div class="col-lg-12">
                                <h3>Registrate</h3>
                                <p>Por favor, completa la información requerida</p>
                            </div>
                            <input hidden type="text" value="generico" placeholder="Nombre Usuario" class="form-control" name="username">
                            <div class="col-lg-12 form-group">
                                <label class="sr-only">Email</label>
                                {% if form.email.value %}
                                <input id="primercampo" type="email" value="{{ form.email.value }}" placeholder="Email" class="form-control" name="email">
                                {% else %}
                                <input id="primercampo" type="email" value="" placeholder="Email" class="form-control" name="email">
                                {% endif %}
                            </div>
                            <div class="col-lg-6 form-group">
                                <label class="sr-only">Contraseña</label>
                                <input type="password" value="" placeholder="Contraseña" class="form-control" name="password1">
                            </div>
                            <div class="col-lg-6 form-group">
                                <label class="sr-only">Repite Contraseña</label>
                                <input type="password" value="" placeholder="Repite Contraseña" class="form-control" name="password2">
                            </div>
                            <div class="col-lg-12 form-group">
                                <button class="btn" type="submit">Registrar Nueva Cuenta </button>
                                <a href="{% url 'index' %}" class="btn btn-danger m-l-10">Anular</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end: Section -->

{% endblock %}
