{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load thumbnail %}
{% block title %} | CREAR TOCATAS{% endblock %}
{% block content %}

{% include 'partials/_alerts.html' %}

{% if request.session.es_artista == 'S' %}
<section id="page-content">
    <div class="container">
        <div class="row">
            <div class="content col-lg-12">
              <div class="card">
                  <div class="card-header">
                      <h5 class="card-title">Tocata Íntima Abierta</h5>
                      <h6 class="card-subtitle text-muted">Completa el formulario para crear tu Tocata Íntima Abierta.</h6>
                      <p hidden id="mensajerror"></p>
                  </div>
                  <div class="card-body">
                      <form id="formtocheck" action="{% url 'creartocataabierta' %}" method="POST" data-ciudad-url-agregar="{% url 'ajax_load_comunas_tocata' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                          <div class="form-group row">
                              <label class="col-form-label col-sm-2 text-sm-right">{{ form.nombre.label }}</label>
                              <div class="col-sm-10">
                                {{ form.nombre }}
                              </div>
                          </div>
                          <div class="form-group row">
                              <label class="col-form-label col-sm-2 text-sm-right">{{ form.region.label }}</label>
                              <div class="col-sm-10">
                                {{ form.region }}
                              </div>
                          </div>
                          <div class="form-group row">
                              <label class="col-form-label col-sm-2 text-sm-right">{{ form.comuna.label }}</label>
                              <div class="col-sm-10">
                                {{ form.comuna }}
                              </div>
                          </div>
                          <div class="form-group row">
                              <label class="col-form-label col-sm-2 text-sm-right">{{ form.fecha.label }}</label>
                              <div class="col-10">
                                {{ form.fecha }}
                              </div>
                          </div>
                          <div class="form-group row">
                              <label class="col-form-label col-sm-2 text-sm-right">{{ form.hora.label }}</label>
                              <div class="col-10">
                                {{ form.hora }}
                              </div>
                          </div>
                          <div class="form-group row">
                              <label class="col-form-label col-sm-2 text-sm-right">{{ form.asistentes_min.label }}</label>
                              <div class="col-sm-10">
                                {{ form.asistentes_min }}
                              </div>
                          </div>
                          <div class="form-group row">
                              <label class="col-form-label col-sm-2 text-sm-right">{{ form.descripción.label }}</label>
                              <div class="col-sm-10">
                                {{ form.descripción }}
                              </div>
                          </div>
                          <div class="form-group row">
                            <label class="col-form-label col-sm-2 text-sm-right">{{ form.flayer_original.label }}</label>
                            <div class="col-sm-10">
                              {{ form.flayer_original }}
                            </div>
                          </div>
                          <div class="form-group row">
                              <div class="col-sm-10 ml-sm-auto">
                                  <button type="submit" class="btn btn-primary">Crear Tocata Abierta</button>
                              </div>
                          </div>
                      </form>
                  </div>
              </div>

            </div>
        </div>
    </div>
</section>
{% endif %}

{% endblock %}
