{% extends "base-without-header.html" %}
{% load static %}
{% load humanize %}
{% block title %} | TOCATA ABIERTA O CERRADA{% endblock %}
{% block content %}
{% include 'partials/_alerts.html' %}

{% if user.is_authenticated %}
  {% if usuario.es_artista %}
  <!-- Section -->
  <section class="fullscreen" data-bg-parallax="{% static 'images/fondos/guitar-3492302.jpg' %}">
      <div class="container">
          <div>
              <div class="text-center m-b-30">
                  <a href="{% url 'index' %}" class="logo">
                      <img src="{% static 'images/iconos/logo_rojo_negro.png' %}" alt="Polo Logo">
                  </a>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <!--call-to-action border -->
                  <div class="call-to-action call-to-action-border">
                    <h3>
                      Tocatas Abiertas
                    </h3>
                    <p>
                      Quieres tocar y no tienes un lugar donde hacerlo.
                      Entonces deja que tus fanáticos te inviten a sus casas.
                    </p>
                    <a class="btn" href="{% url 'creartocataabierta' %}"">Crea Tocata Abiertas!</a>
                  </div>
                  <!--END: call-to-action border -->
                </div>
                <div class="col-lg-6">
                  <!--call-to-action colored background -->
                  <div class="call-to-action call-to-action-border">
                    <h3>
                      Tocatas Cerradas
                    </h3>
                    <p>
                      Ya tienes un lugar donde tocar y lo tienes registrado en <a href="{% url 'mislugares' %}">Mis Lugares</a>.
                    </p>
                    <a class="btn" href="{% url 'creartocatacerrada' %}">Crea Tocata Cerradas!</a>
                  </div>
                  <!--END: call-to-action colored background -->
                </div>
              </div>
          </div>
      </div>
  </section>

  <!-- end: Section -->
  {% endif %}
  {% else %}
    <section id="page-content">
        <div class="container">
          <div data-animate="fadeInUp" class="text-center">
              <a href="{% url 'ingresar' %}?next={{request.path|urlencode}}" class="btn">INGRESA A TU CUENTA</a>
          </div>
        </div>
    </section>
{% endif %}

{% endblock %}
