{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load thumbnail %}
{% block title %} | CREAR TOCATAS{% endblock %}
{% block content %}

{% include 'partials/_alerts.html' %}

{% if user.is_authenticated %}
{% if usuario.es_artista %}
<section id="page-content">
    <div class="container">
        <div class="row">
            <div class="content col-lg-12">
              <div class="card">
                  <div class="card-header">
                      <h5 class="card-title">Tocata Íntima Abierta</h5>
                      <h6 class="card-subtitle text-muted">Completa el formulario para crear tu Tocata Íntima Abierta.</h6>
                      <p hidden id="mensajerror"></p>
                  </div>
                  <div class="card-body">
                      <form id="formtocheck" action="{% url 'creartocataabierta' %}" method="POST" data-ciudad-url-agregar="{% url 'ajax_load_comunas_tocata' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                          <div class="form-group row">
                              <label class="col-form-label col-sm-2 text-sm-right">Nombre</label>
                              <div class="col-sm-10">
                                {% if tocata_form.nombre.value %}
                                  <input id="primercampo" type="text" class="requerido form-control" placeholder="Nombre" value="{{ tocata_form.nombre.value }}" name="nombre">
                                {% else %}
                                  <input id="primercampo" type="text" class="requerido form-control" placeholder="Nombre" value="" name="nombre">
                                {% endif %}
                              </div>
                          </div>
                          <div class="form-group row">
                              <label class="col-form-label col-sm-2 text-sm-right" for="{{ tocata_form.region.id_for_label }}">Region</label>
                              <div class="col-sm-10">
                                <select class="form-control" name="region" id="opcionesregion">
                                  {% for region in tocata_form.region.field.choices %}
                                    <option value="{{ region.0 }}">{{ region.1 }}</option>
                                  {% endfor %}
                                </select>
                              </div>
                          </div>
                          <div class="form-group row">
                              <label class="col-form-label col-sm-2 text-sm-right" for="{{ tocata_form.comuna.id_for_label }}">Comuna</label>
                              <div class="col-sm-10">
                                <select class="form-control" name="comuna" id="opcionescomuna">
                                  {% for comuna in tocata_form.comuna.field.choices %}
                                    <option value="{{ comuna.0 }}">{{ comuna.1 }}</option>
                                  {% endfor %}
                                </select>
                              </div>
                          </div>
                          <div class="form-group row">
                              <label for="example-date-input" class="col-form-label col-sm-2 text-sm-right">Fecha</label>
                              <div class="col-10">
                                {% if tocata_form.fecha.value %}
                                  <input class="requerido form-control" type="date" value="{{ tocata_form.fecha.value }}" name="fecha">
                                {% else %}
                                  <input class="requerido form-control" type="date" value="" name="fecha">
                                {% endif %}
                              </div>
                          </div>
                          <div class="form-group row">
                              <label for="example-date-input" class="col-form-label col-sm-2 text-sm-right">Hora</label>
                              <div class="col-10">
                                {% if tocata_form.hora.value %}
                                  <input class="requerido form-control" type="time" value="{{ tocata_form.hora.value }}" name="hora">
                                {% else %}
                                  <input class="requerido form-control" type="time" value="" name="hora">
                                {% endif %}
                              </div>
                          </div>
                          <div class="form-group row">
                              <label class="col-form-label col-sm-2 text-sm-right">Asistentes Mínimos</label>
                              <div class="col-sm-10">
                                {% if tocata_form.asistentes_min.value %}
                                  <input type="number" class="requerido form-control" placeholder="Asistentes Minimos" value="{{ tocata_form.asistentes_min.value }}" name="asistentes_min">
                                {% else %}
                                  <input type="number" class="requerido form-control" placeholder="Asistentes Minimos" value="" name="asistentes_min">
                                {% endif %}
                              </div>
                          </div>
                          <div class="form-group row">
                              <label class="col-form-label col-sm-2 text-sm-right">Descripción</label>
                              <div class="col-sm-10">
                                {% if tocata_form.descripción.value %}
                                  <textarea class="form-control" placeholder="Descripción" rows="3" name="descripción">{{ tocata_form.descripción.value }}</textarea>
                                {% else %}
                                  <textarea class="form-control" placeholder="Descripción" rows="3" name="descripción"></textarea>
                                {% endif %}
                              </div>
                          </div>
                          <div class="form-group row">
                            <label class="col-form-label col-sm-2 text-sm-right" for="exampleFormControlFile1">Subir Flayer</label>
                            <div class="col-sm-10">
                              <input type="file" class="form-control-file" accept="image/*" name="{{ tocata_form.flayer_original.html_name }}">
                            </div>
                          </div>
                          <div class="form-group row">
                              <div class="col-sm-10 ml-sm-auto">
                                  <button type="submit" class="btn btn-primary">Crear Tocata Abierta</button>
                              </div>
                          </div>
                      </form>
                  </div>
              </div>

            </div>
        </div>
    </div>
</section>
{% endif %}
{% else %}
<section id="page-content">
    <div class="container">
      <div data-animate="fadeInUp" class="text-center">
          <a href="{% url 'ingresar' %}?next={{request.path|urlencode}}" class="btn">INGRESA A TU CUENTA</a>
      </div>
    </div>
</section>
{% endif %}

{% endblock %}
