{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load thumbnail %}
{% block title %} | MIS TOCATAS{% endblock %}
{% block content %}
{% include 'partials/_alerts.html' %}

<!-- Page Content -->
{% if user.is_authenticated %}
<section id="page-content" class="no-sidebar">
    <div class="container">
        <!-- DataTable -->
        <form action="{% url 'creartocata' %}">
        <div class="row mb-3">
            <div class="col-lg-6">
                <h4>DataTables</h4>
                <p>Add advanced interaction controls to your HTML tables</p>
            </div>
            <div class="col-lg-6 text-right">
                <button type="submit" class="btn btn-light"><i class="icon-plus"></i> Crear Tocata</button>
                <div id="export_buttons" class="mt-2"></div>
            </div>
        </div>
        </form>
        {% if mistocatas %}
        <div class="row">
            <div class="col-lg-12">
                <table id="datatable" class="table table-bordered table-hover" style="width:100%">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Lugar</th>
                            <th>Fecha y Hora</th>
                            <th>Costo</th>
                            <th>Asistentes Min/Max/Total</th>
                            <th>Estado</th>
                            <th class="noExport">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                      {% for tocata in mistocatas %}
                        <tr>
                            <td>{{ tocata.nombre }}</td>
                            {% if tocata.lugar %}
                            <td>{{ tocata.lugar.region.nombre }}, {{ tocata.lugar.comuna.nombre }}</td>
                            {% else %}
                            <td> --- En busqueda de local --- </td>
                            {% endif %}
                            <td>{{ tocata.fecha }}, {{ tocata.hora}}</td>
                            <td>${{ tocata.costo|intcomma }}</td>
                            <td>{{ tocata.asistentes_min }} / {{ tocata.asistentes_max }} / {{ tocata.asistentes_total }}</td>
                            {% if tocata.estado == 'IN' %} <!-- 'inicial': 'IN' -->
                              <td><span class="badge badge-pill badge-info">{{ tocata.get_estado_display }}</span></td>
                            {% elif tocata.estado == 'PU' %} <!-- 'publicado': 'PU' -->
                              <td><span class="badge badge-pill badge-warning">{{ tocata.get_estado_display }}</span></td>
                            {% elif tocata.estado == 'SU' %} <!-- 'suspendido': 'SU' -->
                              <td><span class="badge badge-pill badge-danger">{{ tocata.get_estado_display }}</span></td>
                            {% elif tocata.estado == 'AP' %} <!-- 'aplazado': 'AP' -->
                              <td><span class="badge badge-pill badge-danger">{{ tocata.get_estado_display }}</span></td>
                            {% elif tocata.estado == 'CN' %} <!-- 'confirmado': 'CN' -->
                              <td><span class="badge badge-pill badge-primary">{{ tocata.get_estado_display }}</span></td>
                            {% elif tocata.estado == 'CM' %} <!-- 'completado': 'CM' -->
                              <td><span class="badge badge-pill badge-success">{{ tocata.get_estado_display }}</span></td>
                            {% endif %}
                            <td>
                              <div class="p-dropdown">
                                  <a class="btn btn-light btn-shadow"><i class="icon-menu"></i></a>
                                  <ul class="p-dropdown-content">
                                      <li><a href="#"><i class="icon-refresh-cw"></i>Update Records</a></li>
                                      <li><a href="#"><i class="icon-edit"></i>Edit</a></li>
                                      <li><a href="{% url 'suspendertocata' tocata.id %}"><i class="icon-alert-triangle"></i>Suspender</a></li>
                                      {% if tocata.estado == 'SU' %}
                                      <li><a href="{% url 'borrartocata' tocata.id %}"><i class="icon-x"></i>Borrar</a></li>
                                      {% endif %}
                                      <li>
                                          <hr>
                                      </li>
                                      {% if tocata.lugar_def == 'AB' %}
                                      <li><a href="{% url 'propuestas' tocata.id %}"><i class="icon-life-buoy"></i>Ver Propuestas</a></li>
                                      <li><a href="#"><i class="icon-mail"></i>Email Support Team</a></li>
                                      <li><a href="#"><i class="icon-alert-triangle"></i>Report an issue</a></li>
                                      {% endif %}
                                  </ul>
                              </div>
                            </td>
                        </tr>
                      {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                          <th>Nombre</th>
                          <th>Lugar</th>
                          <th>Fecha y Hora</th>
                          <th>Costo</th>
                          <th>Asistentes Min/Max</th>
                          <th>Estado</th>
                          <th>Acciones</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        {% endif %}
        <!-- end: DataTable -->
    </div>
</section>
{% else %}
<section id="page-content">
    <div class="container">
      <div data-animate="fadeInUp" class="text-center">
          <a href="{% url 'ingresar' %}?next={{request.path|urlencode}}" class="btn">INGRESA A TU CUENTA</a>
      </div>
    </div>
</section>
{% endif %}
<!-- end: Page Content -->


{% endblock %}
