{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load thumbnail %}
{% block title %} | {{ tocata.nombre }} {% endblock %}
{% block content %}
{% include 'partials/_alerts.html' %}


<!-- Page Content -->
{% if user.is_authenticated %}
{% if listaLugares %}
  {% for lugar in listaLugares %}
  <!--Modal seleccion -->
  <div class="modal fade" id="modal{{lugar.lugar.id}}" tabindex="-1" role="modal" aria-labelledby="modal-label" aria-hidden="true" style="display: none;">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title" id="modal-label">Aceptar Lugar</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              </div>
              <div class="modal-body">
                  <div class="row">
                      <div class="col-md-12">
                          {% if lugar.lugar.capacidad < tocata.asistentes_min %}
                            <p>El lugar seleccionado tiene capacidades de asistencia diferentes a lo esperado.</p>
                            <p>Si aceptas, se ajustaran los datos de asistencia definidos inicialmente a:</p>
                            <p>Cambiaremos Asistentencia Mínima de {{tocata.asistentes_min}} a {{lugar.lugar.capacidad}}.</p>
                            <p>Cambiaremos Asistentencia Máxima de {{tocata.asistentes_max}} a {{lugar.lugar.capacidad}}.</p>
                          {% else %}
                            {% if lugar.lugar.capacidad != tocata.asistentes_max %}
                              <p>El lugar seleccionado tiene capacidades de asistencia diferentes a lo esperado.</p>
                              <p>Si aceptas, se ajustaran los datos de asistencia definidos inicialmente a:</p>
                              <p>Cambiaremos Asistentencia Máxima de {{tocata.asistentes_max}} a {{lugar.lugar.capacidad}}.</p>
                            {% else %}
                              <p>¿Estas seguro de aceptar este lugar?</p>
                            {% endif %}
                          {% endif %}
                      </div>
                  </div>
              </div>
              <form action="{% url 'propuestas' tocata.id %}" method="POST">
                {% csrf_token %}
                <input type="hidden" class="form-control" value="{{ tocata.id }}" name="tocata">
                <input type="hidden" class="form-control" value="{{ tocata.usuario.id }}" name="usuario">
                <input type="hidden" class="form-control" value="{{ lugar.lugar.id }}" name="lugar">
                <div class="modal-footer">
                  <button type="submit" class="btn btn-b">Confirmo Lugar</button>
                  <button type="button" class="btn btn-danger m-l-10" data-dismiss="modal">Anular</button>
                </div>
              </form>
          </div>
      </div>
  </div>
  <!-- end: Modal -->

  <!--Modal detalles lugar -->
  <div class="modal fade" id="modalde{{lugar.lugar.id}}" tabindex="-1" role="modal" aria-labelledby="modal-label" aria-hidden="true" style="display: none;">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title" id="modal-label">Detalles Lugar</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              </div>
              <div class="modal-body">
                <div class="form-group row">
                    <label class="col-form-label col-sm-2 text-sm-right">Calle</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" value="{{ lugar.lugar.nombre_calle }}" readonly>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-2 text-sm-right">Número</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" value="{{ lugar.lugar.numero }}" readonly>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-2 text-sm-right">Region</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" value="{{ lugar.lugar.region.nombre }}" readonly>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-2 text-sm-right">Comuna</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" value="{{ lugar.lugar.comuna.nombre }}" readonly>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-2 text-sm-right">Ciudad</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" value="{{ lugar.lugar.ciudad }}" readonly>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-2 text-sm-right">Depto.</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" value="{{ lugar.lugar.departamento }}" readonly>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-2 text-sm-right">Otros</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" value="{{ lugar.lugar.otros }}" readonly>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-2 text-sm-right">Capacidad Aprox.</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" value="{{ lugar.lugar.capacidad }}" readonly>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-2 text-sm-right">Descripción</label>
                    <div class="col-sm-10">
                      <textarea class="form-control" rows="3" name="descripción" readonly>{{ lugar.lugar.descripción }}</textarea>
                    </div>
                </div>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-b" data-dismiss="modal">Aceptar</button>
              </div>
          </div>
      </div>
  </div>
  <!-- end: Modal -->
  {% endfor %}
{% endif %}

<section id="page-content" class="no-sidebar">
    <div class="container">
        <!-- DataTable -->
          <input type="hidden" class="form-control" value="{{ tocata.id }}" name="tocata">
          <input type="hidden" class="form-control" value="{{ tocata.usuario.id }}" name="usuario">
          <div class="row mb-3">
              <div class="col-lg-6">
                  <h4>{{ tocata.nombre }}</h4>
                  <p>{{ tocata.artista }}</p>
              </div>
          </div>

          {% if listaLugares %}
          <div class="row">
              <div class="col-lg-12">
                  <table id="datatable" class="table table-bordered table-hover" style="width:100%">
                      <thead>
                          <tr>
                              <th>Contacto</th>
                              <th>Calle</th>
                              <th>Comuna</th>
                              <th>Cuidad</th>
                              <th>Capacidad Aprox.</th>
                              <th class="noExport">Seleccionar</th>
                          </tr>
                      </thead>
                      <tbody>
                        {% for lugar in listaLugares %}
                          <tr>
                              <td>{{ lugar.lugar.usuario.email }}</td>
                              <td>{{ lugar.lugar.nombre_calle }}, {{ lugar.lugar.numero }}</td>
                              <td>{{ lugar.lugar.comuna }}</td>
                              <td>{{ lugar.lugar.ciudad }}</td>
                              <td>{{ lugar.lugar.capacidad }} (Lo que pides: {{ tocata.asistentes_min}} min)</td>
                              <td>
                                <div class="p-dropdown">
                                    <a class="btn btn-light btn-shadow btn-round"><i class="icon-menu"></i></a>
                                    <ul class="p-dropdown-content">
                                        <li><a href="" data-target="#modal{{lugar.lugar.id}}" data-toggle="modal"><i class="icon-check-circle"></i>Seleccionar</a></li>
                                        <li><a href="" data-target="#modalde{{lugar.lugar.id}}" data-toggle="modal"><i class="icon-eye"></i>Ver</a></li>
                                    </ul>
                                </div>
                              </td>
                          </tr>
                        {% endfor %}
                      </tbody>
                      <tfoot>
                          <tr>
                            <th>Contacto</th>
                            <th>Calle</th>
                            <th>Comuna</th>
                            <th>Cuidad</th>
                            <th>Capacidad Aprox.</th>
                            <th>Seleccionar</th>
                          </tr>
                      </tfoot>
                  </table>
              </div>
          </div>
          {% endif %}
        <!-- end: DataTable -->
    </div>
</section>
{% else %}
<section id="page-content">
    <div class="container">
      <div data-animate="fadeInUp" class="text-center">
          <a href="{% url 'ingresar' %}?next={{request.path|urlencode}}" class="btn">INGRESA A TU CUENTA</a>
      </div>
    </div>
</section>
{% endif %}
<!-- end: Page Content -->


{% endblock %}
