{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block title %} | {{ tocata.nombre }} {% endblock %}
{% block content %}
{% include 'partials/_alerts.html' %}

{% if user.is_authenticated %}
<section id="page-content">
    <div class="container">
        <div class="row">
            <div class="content col-lg-12">
              <div class="card">
                  <div class="card-header">
                      <h5 class="card-title">{{ tocata.artista }}</h5>
                      <h6 class="card-subtitle text-muted">Tocata en: {{ tocata.region }}, {{ tocata.comuna }}</h6>
                  </div>
                  <div class="card-body">
                      <form action="{% url 'proponerlugar' tocata.id %}" method="POST">
                        {% csrf_token %}
                          <input type="hidden" class="form-control" value="{{ user.id }}" name="usuario">
                          <input type="hidden" class="form-control" value="{{ tocata.id }}" name="tocata">
                          <div class="form-group row">
                              <label class="col-form-label col-sm-2 text-sm-right">Tocata</label>
                              <div class="col-sm-10">
                                  <input type="text" class="form-control" placeholder="Tocata" value="{{ tocata.nombre }}, {{ tocata.comuna }}" readonly>
                              </div>
                          </div>
                          {% if mislugares %}
                          <div class="form-group row">
                              <label class="col-form-label col-sm-2 text-sm-right" for="lugar">Lugares</label>
                              <div class="col-sm-10">
                                <select class="form-control" name="lugar" id="opcionestipo">
                                  {% for lugar in mislugares %}
                                    <option value="{{ lugar.id }}">{{ lugar.nombre|upper }}, {{ lugar.region }}, {{ lugar.comuna }}</option>
                                  {% endfor %}
                                </select>
                              </div>
                          </div>
                          {% else %}
                          <div class="form-group row">
                              <label class="col-form-label col-sm-2 text-sm-right">Lugar</label>
                              <div class="col-sm-10">
                                  <input type="text" class="form-control" placeholder="No tienes lugares registrados" value="" name="lugar" readonly>
                              </div>
                          </div>
                          {% endif %}
                          <div class="form-group row">
                              <div class="col-sm-10 ml-sm-auto">
                                  <button type="submit" class="btn btn-primary">Proponer Lugar</button>
                                  <a href="{% url 'index' %}" class="btn btn-danger m-l-10">Anular</a>
                              </div>
                          </div>
                      </form>
                  </div>
              </div>

            </div>
        </div>
    </div>
</section>
{% else %}
<section id="page-content">
    <div class="container">
      <div data-animate="fadeInUp" class="text-center">
          <a href="{% url 'ingresar' %}?next={{request.path|urlencode}}" class="btn">INGRESA A TU CUENTA</a>
      </div>
    </div>
</section>
{% endif %}

{% endblock %}
