{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block title %} | TOCATAS{% endblock %}
{% block content %}
{% include 'partials/_alerts.html' %}

{% if object_list %}
<!-- Shop products -->
<section id="page-content">
    <div class="container">
      <form id="ordenfiltro" action="{% url 'tocatas' %}" method="POST">
        {% csrf_token %}
        <div class="row m-b-20">
            <div class="col-lg-5 p-t-10 m-b-20">
                <h3 class="m-b-20">A Monochromatic Spring ’15</h3>
            </div>
            <div class="col-lg-3">
                <div class="order-select">
                    <h6>Ordenar por:</h6>
                        <select class="form-control" name="orden" onchange="changeorden()">
                            <option value="fecha" {% if orden == 'fecha' %} selected="selected" {% endif %}>Fecha Evento</option>
                            <option value="costo" {% if orden == 'costo' %} selected="selected" {% endif %}>Precio</option>
                            <option value="nombre" {% if orden == 'nombre' %} selected="selected" {% endif %}>Nombre Tocarta</option>
                            <option value="artista__nombre" {% if orden == 'artista__nombre' %} selected="selected" {% endif %}>Nombre Artista</option>
                        </select>
                </div>
            </div>
            <div class="col-lg-1">
                <div class="order-select">
                    <h6> -- ↑ ↓ -- </h6>
                        <select class="form-control" name="direccion" onchange="changefiltro()">
                            <option value="asc" {% if direccion == 'asc' %} selected="selected" {% endif %}>ASC</option>
                            <option value="des" {% if direccion == 'des' %} selected="selected" {% endif %}>DES</option>
                        </select>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="order-select">
                    <h6>Filtrar por:</h6>
                        <select class="form-control" name="filtro" onchange="changefiltro()">
                            <option value="todas" {% if filtro == 'todas' %} selected="selected" {% endif %}>Todas</option>
                            <option value="cerradas" {% if filtro == 'cerradas' %} selected="selected" {% endif %}>Con lugar definido</option>
                            <option value="abiertas" {% if filtro == 'abiertas' %} selected="selected" {% endif %}>Buscando donde tocar</option>
                        </select>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-1">
                  <h6> <br> </h6>
                  <button type="submit" class="btn btn-sm">Aplica</button>
                </div>
            </div>
          </div>
        </form>

        <!--Product list-->
        <div class="shop">
            <div class="grid-layout grid-3-columns" data-item="grid-item">
              {% for obj in object_list %}
                {% if obj.tipo == 'cerrada' %}
                  {% include 'snippets/gridtocata.html' with instance=obj %}
                {% else %}
                  {% include 'snippets/gridtocataabierta.html' with instance=obj %}
                {% endif %}
              {% endfor %}
            </div>

            <!-- Pagination -->
            {% include 'snippets/page.html' with instance=page_obj %}
            <!-- end: Pagination -->
        </div>
        <!--End: Product list-->
    </div>
</section>
<!-- end: Shop products -->
{% endif %}

{% endblock %}
