{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block title %} | {{ tocata_vista.nombre }} {% endblock %}
{% block content %}
{% include 'partials/_alerts.html' %}

<!-- SECTION IMAGE FULLSCREEN -->
<section class="text-center fullscreen p-t-200 p-b-100 text-light" data-bg-image="{{ tocata_vista.flayer_1920_1280.url }}">
    <div class="bg-overlay"></div>
    <div class="container">
        <div data-animate="fadeInUp" class="text-center">
            <div class="text-lg">{{ tocata_vista.nombre }}</div>
            <div class="text-medium">CUENTA REGRESIVA</div>
        </div>
        <div class="countdown medium rectangle countdown-light m-b-40" data-countdown="{{ tocata_vista.fecha|date:"Y/m/d"}} {{ tocata_vista.hora|date:"H:i:s" }}" data-animate="fadeInUp"></div>
        <div data-animate-delay="600" data-animate="fadeInUp">
            <p class="lead">{{ tocata_vista.descripción }}</p>
            {% if user.is_authenticated %}
              {% if tocata_vista.estado == 'PU' %}
              <a href="{% url 'proponerlugar' tocata_vista.id %}" class="btn">PRESTA TU CASA</a>
              {% endif %}
            {% else %}
              {% if tocata_vista.estado == 'PU' %}
              <a href="{% url 'ingresar' %}?next={{request.path|urlencode}}" class="btn">INGRESA PARA PRESTAR TU CASA</a>
              {% endif %}
            {% endif %}
        </div>
    </div>

</section>
<!-- end: SECTION IMAGE FULLSCREEN -->

<!-- EVENT INFO BOX -->
<div class="event-info-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="event-info-icon"><i class="fa fa-calendar fa-2x"></i></div>
                <div class="event-info-content">
                    <div class="info-title">CUANDO</div>
                    <div class="info-description">{{ tocata_vista.fecha|date:"D d M Y"}} {{ tocata_vista.hora|date:"H:i" }}</div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="event-info-icon"><i class="fa fa-map-marker-alt fa-2x"></i></div>
                <div class="event-info-content">
                    <div class="info-title">DONDE</div>
                    <div class="info-description">{{ tocata_vista.region }}, {{ tocata_vista.comuna }}</div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="event-info-icon"><i class="fa fa-group fa-2x media-object"></i></div>
                <div class="event-info-content">
                    <div class="info-title">QUORUM</div>
                    <div class="info-description">{{ tocata_vista.asistentes_min }} Asistentes</div>

                </div>
            </div>
            <div class="col-lg-3">
                <div class="event-info-icon"><i class="fa fa-microphone fa-2x"></i></div>
                <div class="event-info-content">
                    <div class="info-title">ARTISTA</div>
                    <div class="info-description">{{ tocata_vista.artista.nombre }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end: EVENT INFO BOX -->

<!--Team members -->
<section class="background-grey">
    <div class="container">
        <div class="row team-members team-members-shadow m-b-40">
            <div class="col-lg-10 center">
              {% include 'snippets/teammember.html' with instance=tocata_vista.artista %}
            </div>
          </div>

        </div>
</section>
<!-- end:Team members -->

{% endblock %}
