{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block title %} | TOCATAS{% endblock %}
{% block content %}
{% include 'partials/_alerts.html' %}

{% if tocatas_vista %}
<!-- Shop products -->
<section id="page-content">
    <div class="container">
      <form id="ordenfiltro" action="{% url 'tocatas' %}" method="POST">
        {% csrf_token %}
        <div class="row m-b-20">
            <div class="col-lg-5 p-t-10 m-b-20">
                <h3 class="m-b-20">A Monochromatic Spring ’15</h3>
            </div>
            <div class="col-lg-3">
                <div class="order-select">
                    <h6>Ordenar por:</h6>
                        <select class="form-control" name="orden" onchange="changeorden()">
                            <option value="fecha" {% if orden == 'fecha' %} selected="selected" {% endif %}>Fecha Evento</option>
                            <option value="costo" {% if orden == 'costo' %} selected="selected" {% endif %}>Precio</option>
                            <option value="nombre" {% if orden == 'nombre' %} selected="selected" {% endif %}>Nombre Tocarta</option>
                            <option value="artista__nombre" {% if orden == 'artista__nombre' %} selected="selected" {% endif %}>Nombre Artista</option>
                        </select>
                </div>
            </div>
            <div class="col-lg-1">
                <div class="order-select">
                    <h6> -- ↑ ↓ -- </h6>
                        <select class="form-control" name="direccion" onchange="changefiltro()">
                            <option value="asc" {% if direccion == 'asc' %} selected="selected" {% endif %}>ASC</option>
                            <option value="des" {% if direccion == 'des' %} selected="selected" {% endif %}>DES</option>
                        </select>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="order-select">
                    <h6>Filtrar por:</h6>
                        <select class="form-control" name="filtro" onchange="changefiltro()">
                            <option value="todas" {% if filtro == 'todas' %} selected="selected" {% endif %}>Todas</option>
                            <option value="cerradas" {% if filtro == 'cerradas' %} selected="selected" {% endif %}>Con lugar definido</option>
                            <option value="abiertas" {% if filtro == 'abiertas' %} selected="selected" {% endif %}>Buscando donde tocar</option>
                        </select>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-1">
                  <h6> <br> </h6>
                  <button type="submit" class="btn btn-sm">Aplica</button>
                </div>
            </div>
          </div>
        </form>

        <!--Product list-->
        <div class="shop">
            <div class="grid-layout grid-3-columns" data-item="grid-item">
              {% for tocata_vista in tocatas_vista %}
                {% if tocata_vista.tipo == 'cerrada' %}
                <div class="grid-item">
                    <div class="product">
                        <div class="product-image">
                            <a href="{% url 'tocata' tocata_vista.id %}"><img alt="Shop product image!" src="{{ tocata_vista.flayer_380_507.url }}">
                            </a>
                            {% if tocata_vista.nuevo == 'SI' %}
                            <span class="product-new">NUEVA</span>
                            {% endif %}
                        </div>
                        <div class="product-description">
                            <div class="product-category">{{ tocata_vista.artista.nombre }}, {{ tocata_vista.region }}, {{ tocata_vista.comuna }}</div>
                            <div class="product-title">
                                <h3><a href="{% url 'tocata' tocata_vista.id %}">{{ tocata_vista.nombre|truncatechars:20 }}</a></h3>
                            </div>
                            <div class="product-price"><ins>$ {{ tocata_vista.costo|intcomma }}</ins>
                            </div>
                            <div class="product-reviews">Cuando: {{ tocata_vista.fecha }} {{ tocata_vista.hora }}
                            </div>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="grid-item">
                    <div class="product">
                        <div class="product-image">
                            <a href="{% url 'tocataabierta' tocata_vista.id %}"><img alt="Shop product image!" src="{{ tocata_vista.flayer_380_507.url }}">
                            </a>
                            {% if tocata_vista.nuevo == 'SI' %}
                            <span class="product-new">NUEVA</span>
                            {% endif %}
                            <span class="product-sale-off">BUSCANDO</span>
                        </div>
                        <div class="product-description">
                            <div class="product-category">{{ tocata_vista.artista.nombre }}, {{ tocata_vista.region }}, {{ tocata_vista.comuna }}</div>
                            <div class="product-title">
                                <h3><a href="{% url 'tocataabierta' tocata_vista.id %}">{{ tocata_vista.nombre|truncatechars:20 }}</a></h3>
                            </div>
                            <div class="product-reviews">Cuando: {{ tocata_vista.fecha }} {{ tocata_vista.hora }}
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
              {% endfor %}
            </div>

            <!-- Pagination -->
            {% if tocatas_vista.has_other_pages %}
            <ul class="pagination">
              {% if tocatas_vista.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ tocatas_vista.previous_page_number }}">Previous</a></li>
              {% else %}
                <li class="page-item disabled"><a class="page-link">Previous</a></li>
              {% endif %}

              {% for i in tocatas_vista.paginator.page_range %}
                {% if tocatas_vista.number == i %}
                  <li class="page-item active"><a class="page-link">{{i}}</a></li>
                {% else %}
                  <li class="page-item"><a class="page-link" href="?page={{ i }}">{{i}}</a></li>
                {% endif %}
              {% endfor %}

              {% if tocatas_vista.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ tocatas_vista.next_page_number }}">Next</a></li>
              {% else %}
                <li class="page-item disabled"><a class="page-link">Next</a></li>
              {% endif %}
            </ul>
            {% endif %}
            <!-- end: Pagination -->
        </div>
        <!--End: Product list-->
    </div>
</section>
<!-- end: Shop products -->
{% endif %}

<!-- DELIVERY INFO -->
<section class="background-grey p-t-40 p-b-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="icon-box effect small clean">
                    <div class="icon">
                        <a href="#"><i class="fa fa-gift"></i></a>
                    </div>
                    <h3>Free shipping on orders $60+</h3>
                    <p>Order more than 60$ and you will get free shippining Worldwide. More info.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="icon-box effect small clean">
                    <div class="icon">
                        <a href="#"><i class="fa fa-plane"></i></a>
                    </div>
                    <h3>Worldwide delivery</h3>
                    <p>We deliver to the following countries: USA, Canada, Europe, Australia</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="icon-box effect small clean">
                    <div class="icon">
                        <a href="#"><i class="fa fa-history"></i></a>
                    </div>
                    <h3>60 days money back guranty!</h3>
                    <p>Not happy with our product, feel free to return it, we will refund 100% your money!</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end: DELIVERY INFO -->

{% endblock %}
