{% extends 'base.html' %}
{% load static %}
{% block title %} | EQUIPO TOCA{% endblock %}
{% block content %}
<!-- HISTORY -->
<section class="background-grey p-b-60">
		<div class="container">
				<div class="heading-text heading-section text-center m-b-40">
						<h2>COMPANY HISTORY</h2>
						<span class="lead">Beautiful nature, and rare feathers!. amam ipsum dolor sit amet.</span>
				</div>
				<div class="row">
						<div class="col-lg-6">
								<div class="m-b-40">


										<span class="lead">The most happiest time of the day!. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat quis. A true story, that never been told!. Fusce id mi diam, non ornare orci. Pellentesque ipsum erat, facilisis ut venenatis eu, sodales vel dolor.
										</span>
								</div>
						</div>
						<div class="col-lg-6">
								<img alt="" class="img-fluid" src="{% static 'homepages/business/images/office.jpg' %}">
						</div>
				</div>
		</div>
</section>
<!-- end: HISTORY -->
{% endblock %}
