{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %} | HOME{% endblock %}
{% block content %}

{% include 'partials/_alerts.html' %}

{% if resultado %}
<!-- Shop products -->
<section>
    <div class="container">
        <div class="row m-b-20">
            <div class="col-lg-6 p-t-10 m-b-20">
                <h3 class="m-b-20">A Monochromatic Spring ’15</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, sit, exercitationem, consequuntur, assumenda iusto eos commodi alias.</p>
            </div>
            <div class="col-lg-3">
                <div class="order-select">
                    <h6>Sort by</h6>
                    <p>Showing 1&ndash;12 of 25 results</p>
                    <form method="get">
                        <select class="form-control">
                            <option value="order" selected="selected">Default sorting</option>
                            <option value="popularity">Sort by popularity</option>
                            <option value="rating">Sort by average rating</option>
                            <option value="date">Sort by newness</option>
                            <option value="price">Sort by price: low to high</option>
                            <option value="price-desc">Sort by price: high to low</option>
                        </select>
                    </form>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="order-select">
                    <h6>Sort by Price</h6>
                    <p>From 0 - 190$</p>
                    <form method="get">
                        <select class="form-control">
                            <option value="" selected="selected">0$ - 50$</option>
                            <option value="">51$ - 90$</option>
                            <option value="">91$ - 120$</option>
                            <option value="">121$ - 200$</option>
                        </select>
                    </form>
                </div>
            </div>
        </div>

        <!--Product list-->
        <div class="shop">
            <div class="grid-layout grid-3-columns" data-item="grid-item">
              {% for item in resultado %}
                <div class="grid-item">
                    <div class="product">
                        <div class="product-image">
                            <a href="{% url 'tocata' item.id %}"><img alt="Shop product image!" src="{{ item.flayer_380_507.url }}">
                            </a>
                            {% if item.nuevo == 'SI' %}
                            <span class="product-new">NUEVA</span>
                            {% endif %}
                            {% if item.lugar_def == 'AB' %}
                            <span class="product-sale-off">BUSCANDO</span>
                            {% endif %}
                        </div>
                        <div class="product-description">
                            <div class="product-category">{{ item.artista.nombre }}, {{ item.lugar.region }}, {{ item.lugar.comuna }}</div>
                            <div class="product-title">
                                <h3><a href="{% url 'tocata' item.id %}">{{ item.nombre|truncatechars:20 }}</a></h3>
                            </div>
                            <div class="product-price"><ins>$ {{ item.costo|intcomma }}</ins>
                            </div>
                            <div class="product-reviews"><a href="#">Aun quedan {{ tocata.asistentes_diff|intcomma }} entradas a la venta</a>
                            </div>
                        </div>
                    </div>
                </div>
              {% endfor %}
            </div>


            <!-- Pagination -->
            {% if resultado.has_other_pages %}
            <ul class="pagination">
              {% if resultado.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ resultado.previous_page_number }}">Previous</a></li>
              {% else %}
                <li class="page-item disabled"><a class="page-link">Previous</a></li>
              {% endif %}

              {% for i in resultado.paginator.page_range %}
                {% if resultado.number == i %}
                  <li class="page-item active"><a class="page-link">{{i}}</a></li>
                {% else %}
                  <li class="page-item"><a class="page-link" href="?page={{ i }}">{{i}}</a></li>
                {% endif %}
              {% endfor %}

              {% if resultado.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ resultado.next_page_number }}">Next</a></li>
              {% else %}
                <li class="page-item disabled"><a class="page-link">Next</a></li>
              {% endif %}
            </ul>
            {% endif %}
            <!-- end: Pagination -->
        </div>
        <!--End: Product list-->
    </div>
</section>
<!-- end: Shop products -->
{% endif %}


{% endblock %}
