{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %} | HOME{% endblock %}
{% block content %}

<!-- Inspiro Slider -->
<div id="slider" class="inspiro-slider slider-fullscreen  dots-creative" data-height-xs="360">
    <!-- Slide 1 -->
    <div class="slide" data-bg-image="{% static 'video/create/create.jpg' %}">
        <div class="bg-overlay"></div>
        <div class="container">
            <div class="slide-captions">
                <!-- Captions -->
                <h2>Pixel Perfection</h2>
                <h4 class="m-b-40">Set your goals high, and don't stop till you get there.</h4>
                <!--
                <button type="button" class="btn btn-light"><span class="btn-label"><i class="fa fa-check"></i></span>Explore more</button> -->
                <!-- end: Captions -->
            </div>

        </div>
        <div id="scroll-down" class="scrolldown-animation scrolldown-bottom">
            <a href="#about" class="scroll-to"><img alt="" src="{% static 'images/scrolldown.png' %}">
            </a>
        </div>
    </div>
    <!-- end: Slide 1 -->

    <!-- Slide 2 -->
    <div class="slide" data-bg-video="{% static 'video/create/create.mp4' %}">
        <div class="bg-overlay"></div>
        <div class="container">
            <div class="slide-captions">
                <!-- Captions -->
                <h2>Crafted Carefully</h2>
                <h4 class="m-b-40">Set your goals high, and don't stop till you get there.</h4>
                <!--
                <button type="button" class="btn btn-light btn-outline"><span class="btn-label"><i class="fa fa-check"></i></span>Explore more</button> -->
                <!-- end: Captions -->
            </div>
        </div>
    </div>
    <!-- end: Slide 2 -->
</div>
<!--end: Inspiro Slider -->

<!-- DELIVERY INFO -->
<section class="background-grey p-t-40 p-b-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="icon-box effect small clean">
                    <div class="icon">
                        <a href="#"><i class="fa fa-gift"></i></a>
                    </div>
                    <h3>Free shipping on orders $60+</h3>
                    <p>Order more than 60$ and you will get free shippining Worldwide. More info.</p>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="icon-box effect small clean">
                    <div class="icon">
                        <a href="#"><i class="fa fa-plane"></i></a>
                    </div>
                    <h3>Worldwide delivery</h3>
                    <p>We deliver to the following countries: USA, Canada, Europe, Australia</p>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="icon-box effect small clean">
                    <div class="icon">
                        <a href="#"><i class="fa fa-history"></i></a>
                    </div>
                    <h3>60 days money back guranty!</h3>
                    <p>Not happy with our product, feel free to return it, we will refund 100% your money!</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end: DELIVERY INFO -->

<!-- Proximas Tocatas CAROUSEL -->
{% if tocatas %}
<section>
    <div class="container">
        <div class="heading-text heading-line text-center">
            <h4>Proximas Tocatas </h4>
        </div>
        <div class="carousel shop-products" data-margin="20" data-dots="false">

            {% for tocata in tocatas %}
            <div class="product">
                <div class="product-image">
                    <a href="#"><img alt="Shop product image!" src="{{ tocata.flayer_380_507.url }}">
                    </a>
                    <a href="#"><img alt="Shop product image!" src="{{ tocata.flayer_380_507.url }}">
                    </a>
                    {% if tocata.nuevo == 'SI' %}
                    <span class="product-new">NUEVA</span>
                    {% endif %}
                    {% if tocata.lugar_def == 'CE' %}
                    <span class="product-sale-off">ABIERTA</span>
                    {% endif %}
                    <!--
                    <span class="product-wishlist">
                        <a href="#"><i class="fa fa-heart"></i></a>
                    </span> -->
                    <div class="product-overlay">
                        <a href="{% url 'tocata' tocata.id %}" data-lightbox="ajax">Vista Rapida</a>
                    </div>
                </div>

                <div class="product-description">
                    <div class="product-category">{{ tocata.artista.nombre }}</div>
                    <div class="product-title">
                        <h3><a href="{% url 'tocata' tocata.id %}">{{ tocata.nombre|truncatechars:17 }}</a></h3>
                    </div>
                    <div class="product-price"><ins>$ {{ tocata.costo|intcomma }}</ins>
                    </div>
                    <div class="product-rate">
                      {% for num in tocata.evaluacionRange %}
                        <i class="fa fa-star"></i>
                      {% endfor %}
                      <!--
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i> -->
                    </div>
                    <div class="product-reviews"><a href="#">{{ tocata.asistentes_diff }} entradas</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</section>
{% endif %}
<!--END: Proximas Tocatas CAROUSEL -->


<!-- Nuestros Artistas -->
{% if artistas %}
<section id="section5" class="background-grey">
    <div class="container">
        <div class="heading-text heading-section text-center">
            <h2>Alguno de Nuestros Artistas</h2>
            <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Suspendisse condimentum porttitor cursumus.</p>
        </div>
        <div class="row team-members">
          {% for artista in artistas %}
            <div class="col-lg-3">
                <div class="team-member">
                    <div class="team-image">
                        <img src="{{ artista.foto_525_350.url }}">
                    </div>
                    <div class="team-desc">
                        <h3>{{ artista.nombre }}</h3>
                        <!--
                        <span>Software Developer</span> -->
                        <p>{{ artista.descripción|truncatechars:150 }}</p>
                        <div class="align-center">
                          {% if artista.link_facebook %}
                            <a class="btn btn-xs btn-slide btn-light" href="{{ artista.link_facebook }}">
                                <i class="fab fa-facebook-f"></i>
                                <span>Facebook</span>
                            </a>
                          {% endif %}
                          {% if artista.link_twitter %}
                            <a class="btn btn-xs btn-slide btn-light" href="{{ artista.link_twitter }}" data-width="100">
                                <i class="fab fa-twitter"></i>
                                <span>Twitter</span>
                            </a>
                          {% endif %}
                          {% if artista.link_instagram %}
                            <a class="btn btn-xs btn-slide btn-light" href="{{ artista.link_instagram }}" data-width="118">
                                <i class="fab fa-instagram"></i>
                                <span>Instagram</span>
                            </a>
                          {% endif %}
                        </div>
                    </div>
                </div>
            </div>
          {% endfor %}
        </div>
    </div>
</section>
<!-- end: Nuestros Artistas -->
{% endif %}

{% endblock %}
