{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %} | HOME{% endblock %}
{% block content %}

<!-- Inspiro Slider -->
<div id="slider" class="inspiro-slider slider-fullscreen dots-creative" data-height-xs="360">
    <!-- Slide 1 -->
    <div class="slide kenburns" style="background-image:url('{% static 'images/slider/100.jpg' %}');">
        <div class="bg-overlay"></div>
        <div class="container">
            <div class="slide-captions text-center text-light">
                <!-- Captions -->
                <span class="strong">W
                    ITH POLO TEMPLATE</span>
                <h2 class="text-dark">Create Your <br>Awesome Website With Ease</h2>
                <a class="btn" href="#">Purchase Now</a>
                <a class="btn btn-light">Purchase</a>
                <!-- end: Captions -->
            </div>
        </div>
    </div>
    <!-- end: Slide 1 -->
    <!-- Slide 2 -->
    <div class="slide kenburns" style="background-image:url('{% static 'images/slider/103.jpg' %}');">
        <div class="bg-overlay"></div>
        <div class="container">
            <div class="slide-captions text-center text-light">
                <!-- Captions -->
                <span class="strong">WITH POLO TEMPLATE</span>
                <h2 class="text-dark">Explore The <br>New World of Creativity</h2>
                <a class="btn" href="#">Purchase Now</a>
                <a class="btn btn-light">Purchase</a>
                <!-- end: Captions -->
            </div>
        </div>
    </div>
    <!-- end: Slide 2 -->
</div>
<!--end: Inspiro Slider -->

<!-- Alertas -->
{% include 'partials/_alerts.html' %}

<!-- Proximas Tocatas CAROUSEL -->
{% if tocatas %}
<section>
    <div class="container">
        <div class="heading-text heading-line text-center">
            <h4>Proximas Tocatas </h4>
        </div>
        <div class="carousel shop-products" data-margin="20" data-dots="false">
            {% for tocata in tocatas %}
            <div class="product">
                <div class="product-image">
                    <a href="#"><img alt="Shop product image!" src="{{ tocata.flayer_380_507.url }}">
                    </a>
                    <a href="#"><img alt="Shop product image!" src="{{ tocata.flayer_380_507.url }}">
                    </a>
                    {% if tocata.nuevo == 'SI' %}
                    <span class="product-new">NUEVA</span>
                    {% endif %}
                    {% if tocata.lugar_def == 'AB' %}
                    <span class="product-sale-off">ABIERTA</span>
                    {% endif %}
                    <!--
                    <span class="product-wishlist">
                        <a href="#"><i class="fa fa-heart"></i></a>
                    </span> -->
                    <div class="product-overlay">
                        <a href="{% url 'tocata' tocata.id %}" data-lightbox="ajax">Vista Rapida</a>
                    </div>
                </div>

                <div class="product-description">
                    <div class="product-category">{{ tocata.artista.nombre }}</div>
                    <div class="product-title">
                        <h3><a href="{% url 'tocata' tocata.id %}">{{ tocata.nombre|truncatechars:17 }}</a></h3>
                    </div>
                    <div class="product-price"><ins>$ {{ tocata.costo|intcomma }}</ins>
                    </div>
                    <div class="product-rate">
                      {% for num in tocata.evaluacionRange %}
                        <i class="fa fa-star"></i>
                      {% endfor %}
                      <!--
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i> -->
                    </div>
                    <div class="product-reviews"><a href="#">{{ tocata.asistentes_diff }} entradas</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</section>
{% endif %}
<!--END: Proximas Tocatas CAROUSEL -->


<!-- Nuestros Artistas -->
{% if artistas %}
<section class="background-grey">
    <div class="container">
        <div class="heading-text heading-section text-center">
            <h2>Nuestros Artistas</h2>
            <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Suspendisse condimentum porttitor cursumus.</p>
        </div>
        <div class="row team-members">
          {% for artista in artistas %}
            <div class="col-lg-3">
                <div class="team-member">
                    <div class="team-image">
                        <img src="{{ artista.foto_525_350.url }}">
                    </div>
                    <div class="team-desc">
                        <h3>{{ artista.nombre }}</h3>
                        <!--
                        <span>Software Developer</span> -->
                        <p>{{ artista.descripción|truncatechars:150 }}</p>
                        <div class="align-center">
                          {% if artista.link_facebook %}
                            <a class="btn btn-xs btn-slide btn-light" href="{{ artista.link_facebook }}">
                                <i class="fab fa-facebook-f"></i>
                                <span>Facebook</span>
                            </a>
                          {% endif %}
                          {% if artista.link_twitter %}
                            <a class="btn btn-xs btn-slide btn-light" href="{{ artista.link_twitter }}" data-width="100">
                                <i class="fab fa-twitter"></i>
                                <span>Twitter</span>
                            </a>
                          {% endif %}
                          {% if artista.link_instagram %}
                            <a class="btn btn-xs btn-slide btn-light" href="{{ artista.link_instagram }}" data-width="118">
                                <i class="fab fa-instagram"></i>
                                <span>Instagram</span>
                            </a>
                          {% endif %}
                        </div>
                    </div>
                </div>
            </div>
          {% endfor %}
        </div>
    </div>
</section>
<!-- end: Nuestros Artistas -->
{% endif %}

{% endblock %}
