{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %} | HOME{% endblock %}
{% block content %}

<!-- Alertas -->
{% include 'partials/_alerts.html' %}

<!-- SECTION IMAGE FULLSCREEN -->
<section class="fullscreen" data-bg-parallax="{% static 'images/slider/slider01.jpg' %}">
    <div class="container container-fullscreen">
        <div class="text-middle text-center">
            <h1 class="text-uppercase text-lg text-light" data-animate="fadeInUp"> - TOCATAS ÍNTIMAS - </h1>
            {% if usuario.es_artista %}
            <p class="lead text-light " data-animate="fadeInUp" data-animate-delay="600">La mejor forma de publicar, organizar y cobrar Tocatas Íntimas.</p>
            <span data-animate="fadeInUp" data-animate-delay="900">
                <a href="{% url 'creartocata' %}" class="btn">Crea una nueva Tocata Intima</a>
            {% else %}
            <p class="lead text-light " data-animate="fadeInUp" data-animate-delay="600">Disfruta de tus artistas favoritos en un ambiente íntimo.</p>
            <span data-animate="fadeInUp" data-animate-delay="900">
                <a href="{% url 'tocatas' %}" class="btn">Mira nuestras Tocatas Intimas publicadas</a>
            {% endif %}
            </span>
        </div>
    </div>
</section>
<!-- end: SECTION IMAGE FULLSCREEN -->

<!-- Text Boxes -->
{% if usuario.es_artista %}
<section class="no-padding equalize" data-equalize-item=".text-box">
    <div class="row col-no-margin">
        <!--Box 1-->
        <div class="col-lg-3" style="background-color: #2F2F2F;">
            <div class="text-box">
                <a>
                    <i class="fa fa-users"></i>
                    <h3>Organizador de tus Tocatas</h3>
                    <p>Tocatas Íntimas gestionará el cobro y asistencia de tus tocatas. Define quorum mínimo para confirmarla.</p>
                </a>
            </div>
        </div>
        <!--End: Box 1-->
        <!--Box 2-->
        <div class="col-lg-3" style="background-color: #383838;">
            <div class="text-box">
                <a>
                    <i class="fa fa-search"></i>
                    <h3>¿No Tienes Donde Tocar?</h3>
                    <p>Publica tu tocata en la region y/o comuna que quieras; y deja que tus fanaticos te inviten a sus casas.</p>
                </a>
            </div>
        </div>
        <!--End: Box 2-->
        <!--Box 3-->
        <div class="col-lg-3" style="background-color: #313131;">
            <div class="text-box">
                <a>
                    <i class="fa fa-money-bill-wave"></i>
                    <h3>Recibe Todo lo Recaudado</h3>
                    <p>Recibe la totalidad de lo recaudado sin descuentos ni cobros el mismo dia en que se realizará la tocata.</p>
                </a>
            </div>
        </div>
        <!--End: Box 3-->
        <!--Box 4-->
        <div class="col-lg-3" style="background-color: #383838;">
            <div class="text-box">
                <a>
                    <i class="fa fa-smile"></i>
                    <h3>Conectate con tus Fanáticos</h3>
                    <p>Pasa un buen momento junto a tus seguidores compartiendo tu música y experiencias.</p>
                </a>
            </div>
        </div>
        <!--End: Box 4-->
    </div>
</section>
{% else %}
<section class="no-padding equalize" data-equalize-item=".text-box">
    <div class="row col-no-margin">
        <!--Box 1-->
        <div class="col-lg-3" style="background-color: #2F2F2F;">
            <div class="text-box">
                <a>
                    <i class="fa fa-users"></i>
                    <h3>Ambientes Íntimos</h3>
                    <p>Disfrutas de tus artistas favoritos en un ambiente íntimo donde podrás escuchar sus canciones y compartir con ellos.</p>
                </a>
            </div>
        </div>
        <!--End: Box 1-->
        <!--Box 2-->
        <div class="col-lg-3" style="background-color: #383838;">
            <div class="text-box">
                <a>
                    <i class="fa fa-home"></i>
                    <h3>Tu Artista Favorito en tu Casa</h3>
                    <p>Tocata en tu casa. Registra tu casa y proponle a los artistas que buscan donde tocar.</p>
                </a>
            </div>
        </div>
        <!--End: Box 2-->
        <!--Box 3-->
        <div class="col-lg-3" style="background-color: #313131;">
            <div class="text-box">
                <a>
                    <i class="fa fa-money-bill-wave"></i>
                    <h3>Compra tu Entrada en Linea</h3>
                    <p>Para realizar las tocatas se debe completar el quorum mínimo definido por el artista. Compra tu entrada y si la tocata se suspende, te devolveremos el dinero.</p>
                </a>
            </div>
        </div>
        <!--End: Box 3-->
        <!--Box 4-->
        <div class="col-lg-3" style="background-color: #383838;">
            <div class="text-box">
                <a>
                    <i class="fa fa-music"></i>
                    <h3>Tocatas Íntimas</h3>
                    <p>Son espacion donde se generan buenas conversaciones entre los asistences animadas por la musica en vivo.</p>
                </a>
            </div>
        </div>
        <!--End: Box 4-->
    </div>
</section>
{% endif %}
<!-- end: Text Boxes -->

<!-- Shop products -->
{% if tocatas %}
<section class="background-grey">
    <div class="container">
      <div class="col-lg-8 m-b-100 center">
          <div class="heading-text heading-section text-center">
              <h2>PRÓXIMAS TOCATAS INTIMAS</h2>
              <p>Compra tus entradas y disfrutar de tus artistas favoritos.</p>
          </div>
      </div>
      <!--Product list-->
      <div class="shop">
          <div class="grid-layout grid-3-columns" data-item="grid-item">
            {% for tocata in tocatas %}
              {% include 'snippets/gridtocata.html' with instance=tocata %}
            {% endfor %}
          </div>
      </div>
      <!--End: Product list-->
    </div>
</section>
{% else %}
<section class="background-grey">
    <div class="container">
      <div class="col-lg-8 m-b-100 center">
          <div class="heading-text heading-section text-center">
              <h2>PUBLICADAS</h2>
              <p>Actualmente no tenemos Tocatas Intimas diponibles.</p>
          </div>
      </div>
    </div>
</section>
{% endif %}
<!-- end: Shop products -->

<!-- Shop products -->
{% if tocatasabiertas %}
<section>
    <div class="container">
      <div class="col-lg-8 m-b-100 center">
          <div class="heading-text heading-section text-center">
            <h2>ARTISTAS BUSCAN DÓNDE TOCAR</h2>
            <p>El artista esta esperando a que lo invites a tocar a tu casa.</p>
          </div>
      </div>
      <!--Product list-->
      <div class="shop">
          <div class="grid-layout grid-3-columns" data-item="grid-item">
            {% for tocataabierta in tocatasabiertas %}
              {% include 'snippets/gridtocataabierta.html' with instance=tocataabierta %}
            {% endfor %}
          </div>
      </div>
      <!--End: Product list-->
    </div>
</section>
{% else %}
<section>
    <div class="container">
      <div class="col-lg-8 m-b-100 center">
          <div class="heading-text heading-section text-center">
            <h2>ARTISTAS BUSCAN DÓNDE TOCAR</h2>
            <p>Actualmente no hay artistas buscando lugar donde tocar.</p>
          </div>
      </div>
    </div>
</section>
{% endif %}
<!-- end: Shop products -->

<!-- Testimonial -->
<section id="section-testimonials" class="background-grey">
    <div class="container">
        <!-- Heading -->
        <div class="text-center m-b-60">
            <h2>TESTIMONIOS.</h2>
            <p>Algunos de los testimonios de nuestros artistas...</p>
        </div>
        <!-- end: Heading -->

        <!-- Testimonials -->
        {% if usuario.es_artista %}
          <div class="carousel arrows-visibile testimonial testimonial-single" data-items="1" data-loop="true" data-autoplay="true" data-autoplay="3500" data-arrows="false">
              <!-- Testimonials item -->
              {% for test_art in testimonios_art %}
              <div class="testimonial-item">
                  <img src="{{ test_art.foto.url }}" alt="">
                  <p>{{ test_art.testimonio }}</p>
                  <span>{{ test_art.artista.nombre }}</span>
                  <span>{{ test_art.artista.habilidades }}</span>
              </div>
              {% endfor %}
              <!-- end: Testimonials item-->
          </div>
        {% else %}
          <div class="carousel arrows-visibile testimonial testimonial-single" data-items="1" data-loop="true" data-autoplay="true" data-autoplay="3500" data-arrows="false">
              <!-- Testimonials item -->
              {% for test_usu in testimonios_usu %}
              <div class="testimonial-item">
                  <img src="{{ test_usu.foto.url }}" alt="">
                  <p>{{ test_usu.testimonio }}</p>
                  <span>{{ test_usu.artista.nombre }}</span>
                  <span>{{ test_usu.artista.habilidades }}</span>
              </div>
              {% endfor %}
              <!-- end: Testimonials item-->
          </div>
        {% endif %}
        <!-- end: Testimonials -->
    </div>
</section>
<!-- end: Testimonial -->

<!--Team members -->
{% if artistas %}
<section>
    <div class="container">
        <div class="col-lg-8 m-b-100 center">
            <div class="heading-text heading-section text-center">
              <h2>NUESTROS ARTISTAS</h2>
              <!--
              <p>El artista esta esperando a que lo invites a tocar a tu casa.</p>-->
            </div>
        </div>
        <div class="row team-members team-members-shadow m-b-40">
          {% for artista in artistas %}
          <div class="col-lg-6 center">
            {% include 'snippets/teammember.html' with instance=artista %}
          </div>
          {% endfor %}
        </div>
    </div>
</section>
{% else %}
<section class="background-grey">
    <div class="container">
        <div class="col-lg-8 m-b-100 center">
            <div class="heading-text heading-section text-center">
              <h2>NUESTROS ARTISTAS</h2>
              <p>Actualmente no tenemos artistas registrados.</p>
            </div>
        </div>
    </div>
</section>
{% endif %}
<!-- end:Team members -->

{% endblock %}
