{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %} | HOME{% endblock %}
{% block content %}
{% url 'tocata:tocatas' as tocatas_url %}
<!-- Alertas -->
{% include 'partials/_alerts.html' %}

<!-- SECTION IMAGE FULLSCREEN -->
<section class="fullscreen" data-bg-parallax="{% static 'images/slider/slider01.jpg' %}">
    <div class="container container-fullscreen">
        <div class="text-middle text-center">
            <h1 class="text-uppercase text-lg text-light" data-animate="fadeInUp"> - TOCATAS ÍNTIMAS - </h1>
            {% if usuario.es_artista %}
            <p class="lead text-light " data-animate="fadeInUp" data-animate-delay="600">La mejor forma de publicar, organizar y cobrar Tocatas Íntimas.</p>
            <span data-animate="fadeInUp" data-animate-delay="900">
                <a href="{% url 'creartocata' %}" class="btn">Crea una nueva Tocata Intima</a>
            {% else %}
            <p class="lead text-light " data-animate="fadeInUp" data-animate-delay="600">Disfruta de tus artistas favoritos en un ambiente íntimo.</p>
            <span data-animate="fadeInUp" data-animate-delay="900">
                <a href="{{ tocatas_url }}" class="btn">Mira nuestras Tocatas Intimas publicadas</a>
            {% endif %}
            </span>
        </div>
    </div>
</section>
<!-- end: SECTION IMAGE FULLSCREEN -->

<!-- Descripcion TI -->
<section class="no-padding equalize" data-equalize-item=".text-box">
    <div class="row col-no-margin">
      {% for descripcion in descripciones %}
        {% include 'home/snippets/descripcion.html' with instance=descripcion %}
      {% endfor %}
    </div>
</section>
<!-- end: Descripcion TI -->

<!-- Tocatas Intimas -->
<section class="background-grey">
    <div class="container">
{% if tocata_list.count > 4 %}
        <div class="heading-text heading-line text-center">
            <h4>TOCATAS ÍNTIMAS DESTACADAS</h4>
        </div>
        <div class="carousel shop-products" data-margin="20" data-dots="false">
          {% for tocata in tocata_list %}
            {% include 'tocata/snippets/gridtocata.html' with instance=tocata %}
          {% endfor %}
        </div>
{% elif tocata_list.count > 0 %}
        <div class="heading-text heading-line text-center">
            <h4>TOCATAS ÍNTIMAS DESTACADAS</h4>
        </div>
        <div class="shop">
					<div class="row">
            {% for tocata in tocata_list %}
              <div class="col-lg-3">
              {% include 'tocata/snippets/gridtocata.html' with instance=tocata %}
              </div>
            {% endfor %}
          </div>
				</div>
{% else %}
        <div class="heading-text heading-line text-center">
            <h4>TOCATAS ÍNTIMAS DESTACADAS</h4>
            <p>Actualmente no tenemos Tocatas Intimas diponibles.</p>
        </div>
{% endif %}
    </div>
</section>
<!-- end: Tocatas Intimas -->


<!-- Artistas Buscan Donde Tocar -->
<section>
    <div class="container">
{% if tocatasabiertas.count > 4 %}
        <div class="heading-text heading-line text-center">
            <h4>ARTISTAS BUSCAN DÓNDE TOCAR</h4>
        </div>
        <div class="carousel shop-products" data-margin="20" data-dots="false">
          {% for tocataabierta in tocatasabiertas %}
            {% include 'tocataabierta/snippets/gridtocataabierta.html' with instance=tocataabierta %}
          {% endfor %}
        </div>
{% elif tocatasabiertas.count > 0 %}
        <div class="heading-text heading-line text-center">
            <h4>ARTISTAS BUSCAN DÓNDE TOCAR</h4>
        </div>
        <div class="shop">
					<div class="row">
            {% for tocataabierta in tocatasabiertas %}
              <div class="col-lg-3">
              {% include 'tocataabierta/snippets/gridtocataabierta.html' with instance=tocataabierta %}
              </div>
            {% endfor %}
          </div>
				</div>
{% else %}
        <div class="heading-text heading-line text-center">
            <h4>ARTISTAS BUSCAN DÓNDE TOCAR</h4>
            <p>Actualmente no tenemos a ningún artista buscando donde tocar.</p>
        </div>
{% endif %}
    </div>
</section>
<!-- end: Artistas Buscan Donde Tocar -->

<!-- Testimonial -->
<section id="section-testimonials" class="background-grey">
    <div class="container">
        <!-- Heading -->
        <div class="text-center m-b-60">
            <h2>TESTIMONIOS.</h2>
            <p>Algunos de los testimonios de nuestros artistas...</p>
        </div>
        <!-- end: Heading -->
        <!-- Testimonials -->
          <div class="carousel arrows-visibile testimonial testimonial-single" data-items="1" data-loop="true" data-autoplay="true" data-autoplay="3500" data-arrows="false">
              <!-- Testimonials item -->
              {% for testimonio in testimonios %}
                {% include 'home/snippets/testimonios.html' with instance=testimonio %}
              {% endfor %}
              <!-- end: Testimonials item-->
          </div>
        <!-- end: Testimonials -->
    </div>
</section>
<!-- end: Testimonial -->

<!--Team members -->
{% if artistas %}
<section>
    <div class="container">
        <div class="col-lg-8 m-b-100 center">
            <div class="heading-text heading-section text-center">
              <h2>NUESTROS ARTISTAS</h2>
            </div>
        </div>
        <div class="row team-members team-members-shadow m-b-40">

          {% if artistas.count == 3 %}
            {% for artista in artistas %}
            <div class="col-lg-4 center">
              {% include 'artista/snippets/teammember.html' with instance=artista %}
            </div>
            {% endfor %}
          {% elif artistas.count == 2 %}
            {% for artista in artistas %}
            <div class="col-lg-6 center">
              {% include 'artista/snippets/teammember.html' with instance=artista %}
            </div>
            {% endfor %}
          {% elif artistas.count == 1 %}
            {% for artista in artistas %}
            <div class="col-lg-8 center">
              {% include 'artista/snippets/teammember.html' with instance=artista %}
            </div>
            {% endfor %}
          {% endif %}
        </div>
    </div>
</section>
{% else %}
<section class="background-grey">
    <div class="container">
        <div class="col-lg-8 m-b-100 center">
            <div class="heading-text heading-section text-center">
              <h2>NUESTROS ARTISTAS</h2>
              <p>Actualmente no tenemos artistas registrados.</p>
            </div>
        </div>
    </div>
</section>
{% endif %}
<!-- end:Team members -->

{% endblock %}
