{% extends "base-without-header.html" %}
{% load static %}
{% load humanize %}
{% block title %} | REINICIAR CONTRASEÑA{% endblock %}
{% block content %}

{% url 'cuenta:ingresar' as ingresar_url %}
{% url 'index' as index_url %}

<!-- Section -->
{% include 'partials/_alerts.html' %}
<section class="fullscreen" data-bg-parallax="{% static 'images/fondos/guitar-3492302.jpg' %}">
    <div class="container">
        <div>
            <div class="text-center m-b-30">
                <a href="{{ index_url }}" class="logo">
                    <img src="{% static 'images/iconos/logo_rojo_negro.png' %}" alt="Polo Logo">
                </a>
            </div>
            <div class="row">
              <div class="col-lg-6 center p-40 background-white b-r-6">
                <p>
                  Tu contraseña ha sido cambiada. Ya puedes <a href="{{ ingresar_url }}">ingresar</a> a tu cuenta.
                </p>
              </div>
            </div>
        </div>
    </div>
</section>
<!-- end: Section -->
{% endblock %}
