{% extends "base-without-header.html" %}
{% load static %}
{% load humanize %}
{% block title %} | CAMBIA CONTRASEÑA{% endblock %}
{% block content %}

<!-- Section -->
{% include 'partials/_alerts.html' %}
<section class="fullscreen" data-bg-parallax="{% static 'images/fondos/guitar-3492302.jpg' %}">
    <div class="container">
        <div>
            <div class="text-center m-b-30">
                <a href="{% url 'index' %}" class="logo">
                    <img src="{% static 'images/iconos/logo_rojo_negro.png' %}" alt="Polo Logo">
                </a>
            </div>
            <div class="row">
              <div class="col-lg-5 center p-40 background-white b-r-6">
                <p>
                  Tu contraseña ha sido cambiada exitosamente.
                </p>
              </div>
            </div>
        </div>
    </div>
</section>
<!-- end: Section -->
{% endblock %}
