{% extends "base-without-header.html" %}
{% load static %}
{% load humanize %}
{% block title %} | REINICIAR CONTRASEÑA{% endblock %}
{% block content %}

{% include 'partials/_alerts.html' %}

{% url 'index' as index_url %}
{% url 'password_reset' as password_reset_url %}

<!-- Section -->
<section class="fullscreen" data-bg-parallax="{% static 'images/fondos/guitar-3492302.jpg' %}">
    <div class="container">
        <div>
            <div class="text-center m-b-30">
                <a href="{{ index_url }}" class="logo">
                    <img src="{% static 'images/iconos/logo_rojo_negro.png' %}" alt="Polo Logo">
                </a>
            </div>
            {% if validlink %}
            <div class="row">
                <div class="col-lg-6 center p-40 background-white b-r-6">
                    <form class="form-transparent-grey" method="POST">
                      {% csrf_token %}
                        <div class="row">
                            {{ form.non_field_errors }}
                            <div class="col-lg-12">
                                <h3>Cambio Contraseña</h3>
                                <p>Por favor, completa la información requerida</p>
                            </div>
                            <div class="col-lg-12 form-group">
                                {{ form.new_password1.errors }}
                                <label class="sr-only">{{ form.new_password1.label }}</label>
                                {{ form.new_password1 }}
                            </div>
                            <div class="col-lg-12 form-group">
                                {{ form.new_password2.errors }}
                                <label class="sr-only">{{ form.new_password2.label }}</label>
                                {{ form.new_password2 }}
                            </div>
                            <div class="col-lg-12 form-group">
                                <button class="btn" type="submit">Cambiar</button>
                                <a href="{{ index_url }}" class="btn btn-danger m-l-10">Cancelar</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            {% else %}
            <p>
              El link de reinicion de contraseña es invalido, posiblemente por que ya fue utilizado.
              Por favor, solicita un nuevo <a href="{{ password_reset_url }}">reinicion de contraseña</a>.
            </p>
            {% endif %}

        </div>
    </div>
</section>
<!-- end: Section -->
{% endblock %}
