{% if messages %}
  {% for message in messages %}
    <div id="message" class="message" class="container">
      <div role="alert" class="alert alert-{{ message.tags }} alert-dismissible">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                  aria-hidden="true">&times;</span> </button>
          <strong><i class="fa fa-check-circle"></i>
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            ¡Excelente!
            {% else %}
              {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
              Error
              {% endif %}
            {% endif %}
          </strong> {{ message }}
      </div>
    </div>
  {% endfor %}
{% endif %}
