{% load static %}

<!-- Footer -->
<footer id="footer">
    <div class="footer-content">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="icon-box effect small clean">
                        <div class="icon">
                            <a href="#"><i class="icon-clock"></i></a>
                        </div>
                        <h3>Horarios de Atención</h3>
                        <p><strong>Lunes - Viernes</strong>
                            <br>09:00 AM - 18:00 PM</p>
                        <p><strong>Sabado</strong>
                            <br>10:00 AM - 18:00 PM</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="icon-box effect small clean">
                        <div class="icon">
                            <a href="#"><i class="fas fa-map-marker-alt"></i></a>
                        </div>
                        <h3>Dirección</h3>
                        <p><strong>Dirección Tocatas Íntimas:</strong>
                            <br> Luis Uribe #2925 Depto 505
                            <br> Santiago, Ñuñoa
                            <br>
                            <br>
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="icon-box effect small clean">
                        <div class="icon">
                            <a href="#"><i class="icon-phone"></i></a>
                        </div>
                        <h3>Contacto Tocatas Íntimas</h3>
                        <p><strong>Número Telefónico:</strong>
                            <br> (+56) 9 74997724
                            <br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <!-- Social icons -->
                    <div class="social-icons social-icons-colored float-left">
                        <ul>
                            <li class="social-facebook"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li class="social-twitter"><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li class="social-youtube"><a href="#"><i class="fab fa-youtube"></i></a></li>
                            <li class="social-instagram"><a href="#"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                    <!-- end: Social icons -->
                </div>
                <div class="col-lg-6">
                    <div class="copyright-text text-center">&copy; 2019 POLO - Responsive Multi-Purpose HTML5 Template. All Rights Reserved.<a href="//www.inspiro-media.com" target="_blank" rel="noopener">INSPIRO</a> </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- end: Footer -->
