{% load static %}
{% url 'index' as index_url %}
{% url 'busqueda:busqueda' as busqueda_url %}
{% url 'carro:carro' as carro_url %}
{% url 'tocata:tocatas' as tocatas_url %}
{% url 'tocataabierta:tocatasabiertas' as tocatasabiertas_url %}
{% url 'artistas' as artistas_url %}
{% url 'tocata:mistocatas' as mistocatas_url %}
{% url 'tocata:creartocata' as creartocata_url %}
{% url 'tocataabierta:mistocatasabiertas' as mistocatasabiertas_url %}
{% url 'tocataabierta:creartocataabierta' as creartocataabierta_url %}
{% url 'lugar:mislugares' as mislugares_url %}
{% url 'lugar:agregarlugar' as agregarlugar_url %}
{% url 'propuestaslugar:mispropuestas' as mispropuestas_url %}
{% url 'password_change' as cambiocontra_url %}
{% url 'cuenta:salir' as salir_url %}
{% url 'cuenta:home' as home_url %}
{% url 'cuenta:user-update' as userupdate_url %}
{% url 'cuenta:ingresar' as ingresar_url %}
{% url 'cuenta:registrar' as registrar_url %}
{% url 'cuenta:linknuevoartista' as linknuevoartista_url %}
{% url 'ordenes:entradas' as entradas_url %}
{% url 'ordenes:ordenes' as ordenes_url %}

<!-- Header -->
<header id="header" data-transparent="false" data-fullwidth="true" class="dark submenu-light">
    <div class="header-inner">
        <div class="container">

            <!--Logo-->
            <div id="logo">
                <a href="{{ index_url }}">
                  <img src="{% static 'images/iconos/logo_rojo_negro_indexrojo.png' %}" class="logo-default">
                  <img src="{% static 'images/iconos/logo_rojo_negro_indexblanco.png' %}" class="logo-dark">
                </a>
            </div>
            <!--End: Logo-->

            <!-- Search -->
            <div id="search"><a id="btn-search-close" class="btn-search-close" aria-label="Close search form"><i class="icon-x"></i></a>
                <form class="search-form" action="{{ busqueda_url }}" method="get">
                    <input id="busquedacolortext" class="form-control" name="q" type="text" value="{{ request.GET.q }}" placeholder="Escribe y busca..." />
                    <span class="text-muted">Comienza a escribir y luego presiona "Enter" o "ESC" para cerra busqueda.</span>
                </form>
            </div>
            <!-- end: search -->

            <!--Header Extras-->
            <div class="header-extras">
                <ul>
                    <li><a id="btn-search" href="#"> <i class="icon-search"></i></a> </li>
                    <li><a href="{{ carro_url }}"> <i class="icon-shopping-cart"></i></a></li> [ <span class="navbar-carro-numitems">{% if request.session.carro_tocatas %}{{ request.session.carro_tocatas }}{% else %}0{% endif %}</span> ]
                </ul>
            </div>
            <!--end: Header Extras-->

            <!--Navigation Resposnive Trigger-->
            <div id="mainMenu-trigger"> <a class="lines-button x"><span class="lines"></span></a> </div>
            <!--end: Navigation Resposnive Trigger-->

            <!--Navigation-->
            <div id="mainMenu">
                <div class="container">
                    <nav>
                        <ul>
                            <li><a href="{{ index_url }}">Home</a></li>
                            <li><a href="{{ tocatas_url }}">Tocatas Íntimas</a></li>
                            <li><a href="{{ tocatasabiertas_url }}">Presta' la Casa</a></li>
                            <li><a href="{{ artistas_url }}">Artistas</a></li>
                            {% if user.is_authenticated %}
                              {% if request.user.is_musico %}
                                <li class="dropdown"><a href="{{ mistocatas_url }}">Mis Tocatas</a>
                                  <ul class="dropdown-menu">
                                    <li class="dropdown-submenu"><a href="{{ mistocatas_url }}">Tocatas Íntimas</a>
                                        <ul class="dropdown-menu">
                                          <li><a href="{{ mistocatas_url }}">Mis Tocatas Íntimas</a></li>
                                          <li><a href="{{ creartocata_url }}">Crear Tocata Íntima</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu"><a href="{{ mistocatas_url }}">Presta' la Casa</a>
                                        <ul class="dropdown-menu">
                                          <li><a href="{{ mistocatasabiertas_url }}">Mis Presta' la Casa</a></li>
                                          <li><a href="{{ creartocataabierta_url }}">Crear Presta' la Casa</a></li>
                                        </ul>
                                    </li>
                                  </ul>
                                </li>
                              {% endif %}
                                <li class="dropdown"><a href="{{ home_url }}">Mi Cuenta[<small>{{ request.user }}</small>]</a>
                                  <ul class="dropdown-menu">
                                    <li class="dropdown-submenu"><a href="#">Detalles Cuenta</a>
                                        <ul class="dropdown-menu">
                                          <li><a href="{{ userupdate_url }}">Actualizar Detalles</a></li>
                                          <li><a href="{{ cambiocontra_url }}">Cambiar Contraseña</a></li>
                                          <li><a href="{{ marketing_pref_url }}">Notificaciones Email</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu"><a href="#">Mis Compras</a>
                                        <ul class="dropdown-menu">
                                          <li><a href="{{ entradas_url }}">Entradas</a></li>
                                          <li><a href="{{ ordenes_url }}">Ordenes</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu"><a href="{{ mislugares_url }}">Mis Direcciones</a>
                                      <ul class="dropdown-menu">
                                          <li><a href="{{ mislugares_url }}">Direcciones Guardadas</a></li>
                                          <li><a href="{{ agregarlugar_url }}">Agregar Dirección</a></li>
                                      </ul>
                                    </li>
                                    <li><a href="{{ mispropuestas_url }}">Mis Invitaciones</a></li>
                                    {% if request.user.is_staff %}
                                    <li class="dropdown-submenu"><a href="#">Menu Admin</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="{{ linknuevoartista_url }}">Envia Form Nuevo Artista</a></li>
                                        </ul>
                                    </li>
                                    {% endif %}
                                    <li><a href="{{ salir_url }}">Salir</a></li>
                                  </ul>
                                </li>
                            {% else %}
                              <li class="dropdown"><a href="{{ ingresar_url }}?next={{request.path|urlencode}}">Cuenta</a>
                                  <ul class="dropdown-menu">
                                    <li><a href="{{ ingresar_url }}?next={{request.path|urlencode}}">Ingresa</a></li>
                                    <li><a href="{{ registrar_url }}">Registrate</a></li>
                                  </ul>
                              </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
            <!--end: Navigation-->
        </div>
    </div>
</header>
<!-- end: Header -->
