{% load static %}

<!-- Header -->
<header id="header" data-transparent="false" data-fullwidth="true" class="dark submenu-light">
    <div class="header-inner">
        <div class="container">

            <!--Logo-->
            <div id="logo">
                <a href="{% url 'index' %}">
                  <img src="{% static 'images/iconos/logo_rojo_negro_indexrojo.png' %}" class="logo-default">
                  <img src="{% static 'images/iconos/logo_rojo_negro_indexblanco.png' %}" class="logo-dark">
                </a>
            </div>
            <!--End: Logo-->

            <!-- Search -->
            <div id="search"><a id="btn-search-close" class="btn-search-close" aria-label="Close search form"><i class="icon-x"></i></a>
                <form class="search-form" action="{% url 'busqueda' %}" method="get">
                    <input id="busquedacolortext" class="form-control" name="q" type="text" value="{{ valores.q }}" placeholder="Type & Search..." />
                    <span class="text-muted">Start typing & press "Enter" or "ESC" to close</span>
                </form>
            </div>
            <!-- end: search -->

            <!--Header Extras-->
            <div class="header-extras">
                <ul>
                    <li> <a id="btn-search" href="#"> <i class="icon-search"></i></a> </li>
                </ul>
            </div>
            <!--end: Header Extras-->

            <!--Navigation Resposnive Trigger-->
            <div id="mainMenu-trigger"> <a class="lines-button x"><span class="lines"></span></a> </div>
            <!--end: Navigation Resposnive Trigger-->

            <!--Navigation-->
            <div id="mainMenu">
                <div class="container">
                    <nav>
                        <ul>
                            <li><a href="{% url 'index' %}">Home</a></li>

                            {% if tocatas_h %}
                            <li class="dropdown"><a href="{% url 'tocatas' %}">Tocatas</a>
                                <ul class="dropdown-menu">
                                  {% for tocata_h in tocatas_h %}
                                    <li><a href="{% url 'tocata' tocata_h.id %}">{{ tocata_h.nombre|truncatewords:3 }}
                                      {% if tocata.nuevo == 'SI' %}
                                      <span class="badge badge-danger">NEW</span></a></li>
                                      {% endif %}
                                  {% endfor %}
                                  <li><a href="{% url 'tocatas' %}">Mas ...</a></li>
                                </ul>
                            </li>
                            {% else %}
                            <li><a href="#">Sin Tocatas</a></li>
                            {% endif %}

                            {% if artistas_h %}
                            <li class="dropdown"><a href="{% url 'artistas' %}">Artistas</a>
                                <ul class="dropdown-menu">
                                  {% for artista_h in artistas_h %}
                                    <li><a href="{% url 'artista' artista_h.id %}">{{ artista_h.nombre|truncatewords:3 }}
                                      {% if artista.nuevo == 'SI' %}
                                      <span class="badge badge-danger">NEW</span></a></li>
                                      {% endif %}
                                  {% endfor %}
                                  <li><a href="{% url 'artistas' %}">Mas ...</a></li>
                                </ul>
                            </li>
                            {% else %}
                            <li><a href="#">Sin Artistas</a></li>
                            {% endif %}

                            {% if user.is_authenticated %}
                              {% if usuario.es_artista %}
                                <li class="dropdown"><a href="{% url 'mistocatas' %}">Mis Tocatas</a>
                                  <ul class="dropdown-menu">
                                    <li><a href="{% url 'mistocatas' %}">Mis Tocatas</a></li>
                                    <li><a href="{% url 'creartocata' %}">Crear Tocata</a></li>
                                  </ul>
                                </li>
                                <li class="dropdown"><a href="{% url 'mislugares' %}">Mis Lugares</a>
                                  <ul class="dropdown-menu">
                                    <li><a href="{% url 'mislugares' %}">Mis Lugares</a></li>
                                    <li><a href="{% url 'agregarlugar' %}">Agregar Lugar</a></li>
                                  </ul>
                                </li>
                                {% if user.first_name %}
                                <li class="dropdown"><a href="{% url 'cuentaart' %}">Hola, {{ user.first_name }}</a>
                                {% else %}
                                <li class="dropdown"><a href="{% url 'cuentaart' %}">Hola, {{ user.username }}</a>
                                {% endif %}
                                  <ul class="dropdown-menu">
                                    <li><a href="{% url 'cuentaart' %}">Editar Cuenta</a></li>
                                    <li><a href="{% url 'cambiocontra' %}">Cambiar Contraseña</a></li>
                                    <li><a href="javascript:{document.getElementById('salir').submit()}">Salir</a>
                                      <form class="" id="salir" action="{% url 'salir' %}" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden">
                                      </form>
                                    </li>
                                  </ul>
                              </li>
                              {% else %}
                                <li class="dropdown"><a href="{% url 'mislugares' %}">Mis Lugares</a>
                                  <ul class="dropdown-menu">
                                    <li><a href="{% url 'mislugares' %}">Mis Lugares</a></li>
                                    <li><a href="{% url 'agregarlugar' %}">Agregar Lugar</a></li>
                                  </ul>
                                </li>
                                {% if user.first_name %}
                                <li class="dropdown"><a href="{% url 'cuenta' %}">Hola, {{ user.first_name }}</a>
                                {% else %}
                                <li class="dropdown"><a href="{% url 'cuenta' %}">Hola, {{ user.username }}</a>
                                {% endif %}
                                  <ul class="dropdown-menu">
                                    <li><a href="{% url 'cuenta' %}">Editar Cuenta</a></li>
                                    <li><a href="{% url 'cambiocontra' %}">Cambiar Contraseña</a></li>
                                    {% if request.user.is_staff %}
                                    <li class="dropdown-submenu"><a href="#">Menu Admin</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="{% url 'enviaform' %}">Envia Form Nuevo Artista</a></li>
                                        </ul>
                                    </li>
                                    {% endif %}
                                    <li><a href="javascript:{document.getElementById('salir').submit()}">Salir</a>
                                      <form class="" id="salir" action="{% url 'salir' %}" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="next" value="{{request.path|urlencode}}">
                                        <input type="hidden">
                                      </form>
                                    </li>
                                  </ul>
                                </li>
                              {% endif %}
                            {% else %}
                            <li class="dropdown"><a href="{% url 'ingresar' %}?next={{request.path|urlencode}}">Usuario</a>
                                <ul class="dropdown-menu">
                                  <li><a href="{% url 'ingresar' %}?next={{request.path|urlencode}}">Ingresa</a></li>
                                  <li><a href="{% url 'registrar' %}">Registrate</a></li>
                                </ul>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
            <!--end: Navigation-->
        </div>
    </div>
</header>
<!-- end: Header -->
