{% load static %}
{% url 'index' as index_url %}
{% url 'busqueda' as busqueda_url %}
{% url 'carro' as carro_url %}
{% url 'tocatas' as tocatas_url %}
{% url 'artistas' as artistas_url %}
{% url 'mistocatas' as mistocatas_url %}
{% url 'creartocata' as creartocata_url %}
{% url 'creartocatacerrada' as creartocatacerrada_url %}
{% url 'creartocataabierta' as creartocataabierta_url %}
{% url 'mislugares' as mislugares_url %}
{% url 'agregarlugar' as agregarlugar_url %}
{% url 'mispropuestas' as mispropuestas_url %}
{% url 'cuentaart' as cuentaart_url %}
{% url 'miscompras' as miscompras_url %}
{% url 'cambiocontra' as cambiocontra_url %}
{% url 'salir' as salir_url %}
{% url 'cuenta' as cuenta_url %}
{% url 'ingresar' as ingresar_url %}
{% url 'registrar' as registrar_url %}

<!-- Header -->
<header id="header" data-transparent="false" data-fullwidth="true" class="dark submenu-light">
    <div class="header-inner">
        <div class="container">

            <!--Logo-->
            <div id="logo">
                <a href="{{ index_url }}">
                  <img src="{% static 'images/iconos/logo_rojo_negro_indexrojo.png' %}" class="logo-default">
                  <img src="{% static 'images/iconos/logo_rojo_negro_indexblanco.png' %}" class="logo-dark">
                </a>
            </div>
            <!--End: Logo-->

            <!-- Search -->
            <div id="search"><a id="btn-search-close" class="btn-search-close" aria-label="Close search form"><i class="icon-x"></i></a>
                <form class="search-form" action="{{ busqueda_url }}" method="get">
                    <input id="busquedacolortext" class="form-control" name="q" type="text" value="{{ request.GET.q }}" placeholder="Type & Search..." />
                    <span class="text-muted">Start typing & press "Enter" or "ESC" to close</span>
                </form>
            </div>
            <!-- end: search -->

            <!--Header Extras-->
            <div class="header-extras">
                <ul>
                    <li><a id="btn-search" href="#"> <i class="icon-search"></i></a> </li>
                    <li><a href="{{ carro_url }}"> <i class="icon-shopping-cart"></i></a></li> [ <span class="navbar-carro-numitems">{{ request.session.carro_tocatas }}</span> ]
                </ul>
            </div>
            <!--end: Header Extras-->

            <!--Navigation Resposnive Trigger-->
            <div id="mainMenu-trigger"> <a class="lines-button x"><span class="lines"></span></a> </div>
            <!--end: Navigation Resposnive Trigger-->

            <!--Navigation-->
            <div id="mainMenu">
                <div class="container">
                    <nav>
                        <ul>
                            <li><a href="{{ index_url }}">Home</a></li>
                            <li><a href="{{ tocatas_url }}">Tocatas</a></li>
                            <li><a href="{{ artistas_url }}">Artistas</a></li>

                            {% if user.is_authenticated %}
                              {% if request.session.es_artista == 'S' %}
                                <li class="dropdown"><a href="{{ mistocatas_url }}">Mis Tocatas</a>
                                  <ul class="dropdown-menu">
                                    <li><a href="{{ mistocatas_url }}">Mis Tocatas</a></li>
                                    <li class="dropdown-submenu"><a href="{{ creartocata_url }}">Crea Tocata</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="{{ creartocatacerrada_url }}">Tocata Cerrada</a></li>
                                            <li><a href="{{ creartocataabierta_url }}">Tocata Abierta</a></li>
                                        </ul>
                                    </li>
                                  </ul>
                                </li>
                                <li class="dropdown"><a href="{{ mislugares_url }}">Mis Lugares</a>
                                  <ul class="dropdown-menu">
                                    <li><a href="{{ mislugares_url }}">Mis Lugares</a></li>
                                    <li><a href="{{ agregarlugar_url }}">Agregar Lugar</a></li>
                                    <li><a href="{{ mispropuestas_url }}">Mis Propuesta</a></li>
                                  </ul>
                                </li>
                                {% if user.first_name %}
                                <li class="dropdown"><a href="{{ cuentaart_url }}">Hola, {{ user.first_name }}</a>
                                {% else %}
                                <li class="dropdown"><a href="{{ cuentaart_url }}">Hola, {{ user.username }}</a>
                                {% endif %}
                                  <ul class="dropdown-menu">
                                    <li><a href="{{ cuentaart_url }}">Editar Cuenta</a></li>
                                    <li><a href="{{ miscompras_url }}">Mis Compras</a></li>
                                    <li><a href="{{ cambiocontra_url }}">Cambiar Contraseña</a></li>
                                    <li><a href="{{ salir_url }}">Salir</a></li>
                                  </ul>
                              </li>
                              {% else %}
                                <li class="dropdown"><a href="{{ mislugares_url }}">Mis Lugares</a>
                                  <ul class="dropdown-menu">
                                    <li><a href="{{ mislugares_url }}">Mis Lugares</a></li>
                                    <li><a href="{{ agregarlugar_url }}">Agregar Lugar</a></li>
                                    <li><a href="{{ mispropuestas_url }}">Mis Propuesta</a></li>
                                  </ul>
                                </li>
                                {% if user.first_name %}
                                <li class="dropdown"><a href="{{ cuenta_url }}">Hola, {{ user.first_name }}</a>
                                {% else %}
                                <li class="dropdown"><a href="{{ cuenta_url }}">Hola, {{ user.username }}</a>
                                {% endif %}
                                  <ul class="dropdown-menu">
                                    <li><a href="{{ cuenta_url }}">Editar Cuenta</a></li>
                                    <li><a href="{{ cambiocontra_url }}">Cambiar Contraseña</a></li>
                                    <li><a href="{{ miscompras_url }}">Mis Compras</a></li>
                                    {% if request.user.is_staff %}
                                    <li class="dropdown-submenu"><a href="#">Menu Admin</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="{% url 'enviaform' %}">Envia Form Nuevo Artista</a></li>
                                        </ul>
                                    </li>
                                    {% endif %}
                                    <li><a href="{{ salir_url }}">Salir</a></li>
                                  </ul>
                                </li>
                              {% endif %}
                            {% else %}
                            <li class="dropdown"><a href="{{ ingresar_url }}?next={{request.path|urlencode}}">Usuario</a>
                                <ul class="dropdown-menu">
                                  <li><a href="{{ ingresar_url }}?next={{request.path|urlencode}}">Ingresa</a></li>
                                  <li><a href="{{ registrar_url }}">Registrate</a></li>
                                </ul>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
            <!--end: Navigation-->
        </div>
    </div>
</header>
<!-- end: Header -->
