<!-- Topbar -->
<div id="topbar" class="topbar-transparent topbar-fullwidth dark d-none d-xl-block d-lg-block">
  <div class="container">
    <div class="row">

      <div class="col-md-6">
        <ul class="top-menu">
          {% if user.is_authenticated %}
            <li><a href="{% url 'cuenta' %}">Hola, {{ user.username }} (mi cuenta)</a></li>
            <li><a href="tel:+56974997724"><i class="icon-phone-call"> +56 9 74997724</i></a></li>
            <li><a href="#">Contacto</a></li>
            <li><a href="javascript:{document.getElementById('salir').submit()}">Salir</a>
              <form class="" id="salir" action="{% url 'salir' %}" method="POST">
                {% csrf_token %}
                <input type="hidden">
              </form>
            </li>
          {% else %}
            <li><a href="{% url 'ingresar' %}">Ingresar</a></li>
            <li><a href="{% url 'registrar' %}">Registrar</a></li>
            <li><a href="tel:+56974997724"><i class="icon-phone-call"> +56 9 74997724</i></a></li>
            <li><a href="#">Contacto</a></li>
          {% endif %}
        </ul>
      </div>

      <div class="col-md-6 d-none d-sm-block">
        <div class="social-icons social-icons-colored-hover">
          <ul>
            <li class="social-facebook"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li class="social-youtube"><a href="#"><i class="fab fa-youtube"></i></a></li>
            <li class="social-instagram"><a href="#"><i class="fab fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- end: Topbar -->
