{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load thumbnail %}
{% block title %} | MIS TOCATAS{% endblock %}
{% block content %}

{% include 'partials/_alerts.html' %}

{% if carro.item.exists %}
<!-- SHOP CART -->
<section id="shop-cart">
    <div class="container">
        <div class="shop-cart">
            <div class="table table-sm table-striped table-responsive">
                <table class="table" id="tablacarro">
                    <thead>
                        <tr>
                            <th class="cart-product-remove"></th>
                            <th class="cart-product-thumbnail">Tocata</th>
                            <th class="cart-product-name">Detalles</th>
                            <th class="cart-product-price">Precio Unitario</th>
                            <th class="cart-product-quantity">Cantidad</th>
                            <th class="cart-product-subtotal">Total</th>
                        </tr>
                    </thead>
                    {% include 'carro/snippets/bodyitemcarro.html' with tocatas=listatocatas %}
                </table>
            </div>

            <div class="row">

                <div class="col-lg-6">
                </div>
                <div class="col-lg-6 p-r-10 ">
                    <div class="table-responsive">
                        <h4>Subtotal Carro</h4>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td class="cart-product-name">
                                        <strong>Cart Subtotal</strong>
                                    </td>
                                    <td class="cart-product-name text-right">
                                        <span class="amount">$<span class="carro-subtotal">{{ carro.subtotal|floatformat|intcomma }}</span></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="cart-product-name">
                                        <strong>Envio</strong>
                                    </td>
                                    <td class="cart-product-name  text-right">
                                        <span class="amount">Gratis (Boleto Electrónico)</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="cart-product-name">
                                        <strong>Total</strong>
                                    </td>
                                    <td class="cart-product-name text-right">
                                        <span class="amount color lead"><strong>$<span class="carro-total">{{ carro.total|floatformat|intcomma }}</span></strong></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <a href="#" class="btn icon-left float-right"><span>Proceed to Checkout</span></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end: SHOP CART -->
{% else %}
<!-- SHOP CART EMPTY -->
<section id="shop-cart">
    <div class="container">
        <div class="p-t-10 m-b-20 text-center">
            <div class="heading-text heading-line text-center">
                <h4>Your cart is currently empty.</h4>
            </div>
            <a class="btn icon-left" href="#"><span>Return To Shop</span></a>
        </div>
    </div>
</section>
<!-- end: SHOP CART EMPTY -->
{% endif %}

{% endblock %}
