{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load thumbnail %}
{% block title %} | MIS TOCATAS{% endblock %}
{% block content %}

{% include 'partials/_alerts.html' %}

{% if carro.tocata.exists %}

<!-- SHOP CART -->
<section id="shop-cart">
    <div class="container">
        <div class="shop-cart">
            <div class="table table-sm table-striped table-responsive">
                <table class="table carro-table">
                    <thead>
                        <tr>
                            <th class="cart-product-remove"></th>
                            <th class="cart-product-thumbnail">Tocata</th>
                            <th class="cart-product-subtotal">Precio</th>
                        </tr>
                    </thead>
                    <tbody class="carro-body">
                          {% for tocata in carro.tocata.all %}
                          <tr class="carro-tocata">
                              <td class="cart-product-remove">
                                {% include 'carro/snippets/quitartocatacarro.html' with tocata_id=tocata.id %}
                              </td>
                              <td class="cart-product-name">
                                <span><a href="{{ tocata.get_absolute_url }}">{{ tocata.nombre }}</a></span>
                              </td>
                              <td class="cart-product-subtotal">
                                  <span class="amount">${{ tocata.costo|floatformat|intcomma }}</span>
                              </td>
                          </tr>
                          {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="row">
                <hr class="space">
                <div class="col-lg-6 p-r-10 ">
                    <div class="table-responsive">
                        <h4>Cart Subtotal</h4>
                        <table class="table carro-table-res">
                            <tbody class="carro-resumen">
                                <tr>
                                    <td class="cart-product-name">
                                        <strong>Subtotal Carro</strong>
                                    </td>
                                    <td class="cart-product-name text-right">
                                        <span class="amount">$<span class="carro-subtotal">{{ carro.total|floatformat|intcomma }}</span></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="cart-product-name">
                                        <strong>Email Ticket </strong>
                                    </td>
                                    <td class="cart-product-name  text-right">
                                        <span class="amount">$0</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="cart-product-name">
                                        <strong>Total</strong>
                                    </td>
                                    <td class="cart-product-name text-right">
                                        <span class="amount color lead"><strong>$<span class="carro-total">{{ carro.total|floatformat|intcomma }}</span></strong></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <a href="{% url 'checkout' %}" class="btn icon-left float-right"><span>Comprar</span></a>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="form-quitar-carro-home" style="display:none">
  {% include 'carro/snippets/quitartocatacarro.html' %}
</div>
<!-- end: SHOP CART -->
{% else %}
<!-- SHOP CART EMPTY -->
<section id="shop-cart">
    <div class="container">
        <div class="p-t-10 m-b-20 text-center">
            <div class="heading-text heading-line text-center">
                <h4>Actualmente no tienes nada en tu canasta de compra.</h4>
            </div>
            <a class="btn icon-left" href="{% url 'tocata:tocatas' %}"><span>Volver a Tocatas</span></a>
        </div>
    </div>
</section>
<!-- end: SHOP CART EMPTY -->
{% endif %}

{% endblock %}
