{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load thumbnail %}
{% block title %} | MIS TOCATAS{% endblock %}
{% block content %}
{% include 'partials/_alerts.html' %}

<!-- SHOP CHECKOUT -->
<section id="shop-checkout">
    <div class="container">
        <div class="shop-cart">
            {% url 'carro:checkout_direccion_create_view' as checkout_direccion_create_view_url %}
            {% if not object.direccion_envio %}
            <div class="row">
                <div class="col-lg-6">
                  {% include 'direccion/snippets/form.html' with form=direccion_form tipo_dir='envio' next_url=request.build_absolute_uri action_url=checkout_direccion_create_view_url %}
                </div>
                {% if direccion_qs.exists %}
                <div class="col-lg-6">
                  {% url 'carro:checkout_direccion_reuse_view' as checkout_direccion_reuse_view_url %}
                  {% include 'direccion/snippets/direcciones.html' with direcciones=direccion_qs tipo_dir='envio' next_url=request.build_absolute_uri action_url=checkout_direccion_reuse_view_url %}
                </div>
                {% endif %}
            </div>
            {% elif not object.direccion_facturacion %}
            <div class="row">
              <div class="col-lg-6">
                {% include 'direccion/snippets/form.html' with form=direccion_form tipo_dir='facturacion' next_url=request.build_absolute_uri action_url=checkout_direccion_create_view_url %}
              </div>
              {% if direccion_qs.exists %}
              <div class="col-lg-6">
                {% url 'carro:checkout_direccion_reuse_view' as checkout_direccion_reuse_view_url %}
                {% include 'direccion/snippets/direcciones.html' with direcciones=direccion_qs tipo_dir='facturacion' next_url=request.build_absolute_uri action_url=checkout_direccion_reuse_view_url %}
              </div>
              {% endif %}
            </div>
            {% else %}

            <div class="seperator"><i class="fa fa-credit-card"></i>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <h4 class="upper">Tu Orden: {{ object.orden_id }}</h4>
                    <p>direccion_envio: {{object.direccion_envio.get_address }}</p>
                    <p>direccion_facturacion: {{object.direccion_facturacion.get_address }}</p>
                    <p>total: {{object.total }}</p>
                    <p>envio: {{ object.envio }}</p>
                    <p>total carro: {{ object.carro.total }}</p>
                    <p>items {% for item in object.carro.tocata.all %}{{item}}{% if not forloop.ladst %},{% endif %}{% endfor %}</p>
                    <div class="table table-sm table-striped table-responsive table table-bordered table-responsive">
                        <table class="table m-b-0">
                            <thead>
                                <tr>
                                    <th class="cart-product-thumbnail">Product</th>
                                    <th class="cart-product-name">Description</th>
                                    <th class="cart-product-subtotal">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="cart-product-thumbnail">
                                        <div class="cart-product-thumbnail-name">Bolt Sweatshirt</div>
                                    </td>
                                    <td class="cart-product-description">
                                        <p><span>Bolt Sweatshirt</span>
                                            <span>Size: M</span>
                                            <span>Color: Blue</span>
                                            <span>Gender: Women</span>
                                        </p>
                                    </td>
                                    <td class="cart-product-subtotal">
                                        <span class="amount">$20.00</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="cart-product-thumbnail">
                                        <div class="cart-product-thumbnail-name">Consume Tshirt</div>
                                    </td>
                                    <td class="cart-product-description">
                                        <p><span>Consume Tshirt</span>
                                            <span>Size: S</span>
                                            <span>Color: Blue</span>
                                            <span>Gender: Women</span>
                                        </p>
                                    </td>
                                    <td class="cart-product-subtotal">
                                        <span class="amount">$18.99</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="cart-product-thumbnail">
                                        <div class="cart-product-thumbnail-name">Logo Tshirt</div>
                                    </td>
                                    <td class="cart-product-description">
                                        <p><span>Logo Tshirt</span>
                                            <span>Size: L</span>
                                            <span>Color: Grey</span>
                                            <span>Gender: Man</span>
                                        </p>
                                    </td>
                                    <td class="cart-product-subtotal">
                                        <span class="amount">$18.00</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="cart-product-thumbnail">
                                        <div class="cart-product-thumbnail-name">Grey Sweatshirt</div>
                                    </td>
                                    <td class="cart-product-description">
                                        <p><span>Grey Sweatshirt</span>
                                            <span>Size: L</span>
                                            <span>Color: Grey</span>
                                            <span>Gender: Man</span>
                                        </p>
                                    </td>
                                    <td class="cart-product-subtotal">
                                        <span class="amount">$68.97</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <h4>Order Total</h4>
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td class="cart-product-name">
                                                <strong>Order Subtotal</strong>
                                            </td>
                                            <td class="cart-product-name text-right">
                                                <span class="amount">$125.96</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="cart-product-name">
                                                <strong>Shipping</strong>
                                            </td>
                                            <td class="cart-product-name  text-right">
                                                <span class="amount">Free Shipping</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="cart-product-name">
                                                <strong>Coupon</strong>
                                            </td>
                                            <td class="cart-product-name  text-right">
                                                <span class="amount">-20%</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="cart-product-name">
                                                <strong>Total</strong>
                                            </td>
                                            <td class="cart-product-name text-right">
                                                <span class="amount color lead"><strong>$100.76</strong></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <h4 class="upper">Payment Method</h4>
                            <div class="list-group">
                                <input type="radio" name="RadioInputName" value="Value1" id="Radio1" />
                                <label class="list-group-item" for="Radio1">Direct Bank Transfer</label>
                                <input type="radio" name="RadioInputName" value="Value2" id="Radio2" />
                                <label class="list-group-item" for="Radio2">Cheque Payment</label>
                                <input type="radio" name="RadioInputName" value="Value3" id="Radio3" />
                                <label class="list-group-item" for="Radio3"><img width="90" alt="paypal" src="images/shop/paypal-logo.png"></label>
                            </div>
                        </div>
                        <div class="col-lg-12">
                          <form method="POST"> {% csrf_token %}
                            <button type="submit" name="button" class="btn icon-left float-right mt-3">Checkout</button>
                          </form>
                            <!--
                            <a class="btn icon-left float-right mt-3" href="#"><span>Proceed to
                                    PayPal</span></a>
                            -->
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</section>
<!-- end: SHOP CHECKOUT -->
{% endif %}

{% endblock %}
