{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load thumbnail %}
{% block title %} | COMPRA EXITOSA{% endblock %}
{% block content %}
{% include 'partials/_alerts.html' %}

<!-- SHOP CHECKOUT COMPLETED -->
<section id="shop-checkout-completed">
    <div class="container">
        <div class="p-t-10 m-b-20 text-center">
            <div class="text-center">
                <h3>Felicitaciones! Tu compra se ha completado con exito.</h3>
                <p>Este es el numero de orden de tu compra: {{ orden.orden_id }}. Puedes
                    <a href= class="text-underline">
                        <mark>ver tu orden</mark>
                    </a> en la pagina de tu cuenta.</p>
            </div>
            <a href="{% url 'tocata:tocatas' %}" class="btn icon-left m-r-10"><span>Seguir Comprando</span></a><a class="btn icon-left" href="#"><span>Mis Compras</span></a>
        </div>
    </div>
</section>
<!-- end: SHOP CHECKOUT COMPLETED -->

{% endblock %}
