{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load thumbnail %}
{% block title %} | CUENTA{% endblock %}
{% block content %}

{% url 'cuenta:user-update' as userupdate_url %}
{% url 'password_change' as cambiocontra_url %}
{% url 'cuenta:historico-user-tocatas' as historicousertocatas_url %}
{% url 'ordenes:listacompras' as listacompras_url %}

{% include 'partials/_alerts.html' %}

<!-- Page Content -->
<section id="page-content">
    <div class="container">
        <div class="row">
            <div class="content col-lg-9">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="card-header">
                                Detalles Cuenta
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><a href="{{ userupdate_url }}">Actualizar Detalles</a></li>
                                <li class="list-group-item"><a href="{{ cambiocontra_url }}">Cambiar Contraseña</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="card-header">
                                Historico
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><a href="{{ listacompras_url }}">Compras</a></li>
                                <li class="list-group-item"><a href="{{ historicousertocatas_url }}">Tocatas Visitadas</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- end: Page Content -->

{% endblock %}
