{% extends "base-without-header.html" %}
{% load static %}
{% load humanize %}
{% block title %} | INGRESAR{% endblock %}
{% block content %}

{% url 'cuenta:registrar' as registrar_url %}
{% include 'partials/_alerts.html' %}

<!-- Section -->
<section class="fullscreen" data-bg-parallax="{% static 'images/fondos/guitar-3492302.jpg' %}">
    <div class="container">
        <div>
            <div class="text-center m-b-30">
                <a href="{% url 'index' %}" class="logo">
                    <img src="{% static 'images/iconos/logo_rojo_negro.png' %}" alt="Polo Logo">
                </a>
            </div>
            <div class="row">
                <div class="col-lg-5 center p-50 background-white b-r-6">
                    <h3>Ingresa a tu Cuenta</h3>
                    {% include 'cuentas/snippets/ingresoform.html' with form=form %}
                    <p class="small">¿Olvidates tu contraseña?<a href="{% url 'password_reset' %}"> Recuperar Contraseña</a></p>
                    <p class="small">¿Quieres crear una cuenta?<a href="{{ registrar_url }}"> Registrate</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end: Section -->

{% endblock %}
