{% load humanize %}
{% load tocatasttags %}
<div class="product">
  <div class="product-image">
    <a href="{{ instance.get_absolute_url }}"><img alt="Shop product image!" src="{{ instance.flayer_380_507.url }}">
    </a>
    <a href="{{ instance.get_absolute_url }}"><img alt="Shop product image!" src="{{ instance.flayer_380_507.url }}">
    </a>
    <!-- <span class="product-new">NEW</span>
    <span class="product-sale">SALE</span>
    <span class="product-sale-off">50% Off</span>
    <span class="product-out-stock">HOLA</span> -->
    <span class="product-{{ instance.nombre|determinatag }}">CONFIRMAD</span>
    <!-- <span class="product-wishlist">
      <a href="#"><i class="fa fa-cart-plus"></i></a>
    </span> -->
    <!-- <div class="product-overlay">
      <a href="{{ instance.get_absolute_url }}" data-lightbox="ajax">Quick View</a>
    </div> -->
  </div>

  <div class="product-description">
    <div class="product-category"><strong>{{ instance.artista.nombre }}</strong> en {{ instance.comuna }}</div>
    <div class="product-title">
      <h3><a href="{{ instance.get_absolute_url }}">{{ instance.nombre }}</a></h3>
    </div>
    <div class="product-price"><ins>${{ instance.costo|floatformat|intcomma }}</ins>
    </div>
    <!-- <div class="product-rate">
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star-half-o"></i>
    </div> -->
    <div class="product-reviews"><a href="#">{{ instance.fecha }} {{ instance.hora }}</a>
    </div>
  </div>
</div>
