{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block title %} | AGREGAR DIRECCIONES{% endblock %}

{% block content %}
{% include 'partials/_alerts.html' %}

{% url 'lugar:agregarlugar' as agregarlugar_url %}

<section id="page-content">
    <div class="container">
        <div class="row">
            <div class="content col-lg-12">
              <div class="card">
                  <div class="card-header">
                      <h5 class="card-title">Agregar Dirección</h5>
                      <h6 class="card-subtitle text-muted">Completa el formulario para agregar tu lugar.</h6>
                      <p hidden id="mensajerror"></p>
                  </div>
                  <div class="card-body">
                    <!--Form Agrega Lugar -->
                    {% include 'lugar/snippets/agregalugarform.html' with form=form nombreboton='Agregar' endpoint=agregarlugar_url %}
                    <!-- end: Form -->
                  </div>
              </div>

            </div>
        </div>
    </div>
</section>

{% endblock %}
