{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load thumbnail %}
{% block title %} | MIS DIRECCIONES{% endblock %}
{% block content %}
{% include 'partials/_alerts.html' %}

<!-- Page Content -->
{% if object_list %}
  {% for object in object_list %}
    <!--Modal Borrar -->
    {% include 'lugar/snippets/modalborrar.html' with instance=object %}
    <!-- end: Modal -->
    <!--Modal Detalles -->
    {% include 'lugar/snippets/modaldetalles.html' with instance=object %}
    <!-- end: Modal -->
  {% endfor %}

<section id="page-content" class="no-sidebar">
    <div class="container">
        <!-- DataTable -->
          <div class="row mb-3">
              <div class="col-lg-6">
                  <h4>Mis Direcciones</h4>
                  <p>Lista de tus direcciones registradas.</p>
              </div>
              <div class="col-lg-6 text-right">
                <a href="{% url 'lugar:agregarlugar' %}" class="btn btn-light"><i class="icon-plus"></i> Agregar Dirección</a>
                <div id="export_buttons" class="mt-2"></div>
              </div>
          </div>

        <div class="row">
            <div class="col-lg-12">
                <table id="datatable" class="table table-bordered table-hover" style="width:100%">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Calle y Número</th>
                            <th>Comuna</th>
                            <th>Capacidad</th>
                            <th class="noExport">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                      {% for object in object_list %}
                        <tr>
                            {% if object.nombre %}
                            <td>{{ object.nombre }}, {{ object.nombre_calle }} {{ object.numero }}</td>
                            {% else %}
                            <td>Sin nombre</td>
                            {% endif %}
                            <td>{{ object.nombre_calle }} {{ object.numero }}</td>
                            <td>{{ object.comuna }}</td>
                            <td>{{ object.capacidad }}</td>
                            <td>
                              <div class="p-dropdown">
                                  <a class="btn btn-light btn-shadow btn-round"><i class="icon-menu"></i></a>
                                  <ul class="p-dropdown-content">
                                    <li><a data-target="#modalde{{object.id}}" data-toggle="modal" href="#"><i class="icon-eye"></i>Ver</a></li>
                                    <li><a data-target="#modal{{object.id}}" data-toggle="modal" href="#"><i class="icon-x"></i>Borrar</a></li>
                                  </ul>
                              </div>
                            </td>
                        </tr>
                      {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                          <th>Nombre</th>
                          <th>Calle y Número</th>
                          <th>Comuna</th>
                          <th>Capacidad</th>
                          <th>Acciones</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <!-- end: DataTable -->
    </div>
</section>
{% else %}
<section id="page-content" class="no-sidebar">
    <div class="container">
        <!-- DataTable -->
          <div class="row mb-3">
              <div class="col-lg-6">
                  <h4>Mis Direcciones</h4>
                  <p>Actualmente no tienes ninguna dirección registrada. Crea una para invitar a tus artistas favoritos.</p>
              </div>
              <div class="col-lg-6 text-right">
                <a href="{% url 'lugar:agregarlugar' %}" class="btn btn-light"><i class="icon-plus"></i> Agregar Dirección</a>
                <div id="export_buttons" class="mt-2"></div>
              </div>
          </div>
        <!-- end: DataTable -->
    </div>
</section>
{% endif %}
<!-- end: Page Content -->

{% endblock %}
