/*

1. Add your custom Css styles below
2. Place the this code in your template:

 <link href="css/custom.css" rel="stylesheet">

*/
#busquedacolortext {
  color: #6c757d;
}

#mensajerror {
  color: red;
}

.destacaerrorform {
  border-color:  red;
}

/* Quita bullets de los radios de seleccion */
.custom-radio-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
