{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load estilotag %}
{% block title %} | ARTISTAS{% endblock %}
{% block content %}
<!-- Alertas -->
{% include 'partials/_alerts.html' %}

{% if object_list %}
<!-- Content -->
<section id="page-content">
    <div class="container">
        <!-- Portfolio Filter -->
        <nav class="grid-filter gf-outline" data-layout="#portfolio">
            <ul>
              {% if estilos %}
                <li class="active"><a href="#" data-category="*">Todos</a></li>
                {% for estilo in estilos %}
                  <li><a href="#" data-category=".ct-{{estilo}}">{{estilo|replacewithspace:"_"}}</a></li>
                {% endfor %}
              {% endif %}
            </ul>
            <div class="grid-active-title">Todos</div>
        </nav>
        <!-- end: Portfolio Filter -->

        <!-- Portfolio -->
        <div id="portfolio" class="grid-layout portfolio-2-columns" data-margin="0">
            <!-- portfolio item -->
            {% for obj in object_list %}
                {% include 'artista/snippets/gridartista.html' with instance=obj %}
            {% endfor %}
            <!-- end: portfolio item -->
        </div>
        <!-- end: Portfolio -->
        <br>
        <!-- Pagination -->
        {% include 'snippets/page.html' with instance=page_obj %}
        <!-- end: Pagination -->
    </div>
</section>
<!-- end: Content -->
{% endif %}

{% endblock %}
