{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block title %} | ARTISTAS{% endblock %}
{% block content %}
<!-- Alertas -->
{% include 'partials/_alerts.html' %}

{% if artistas %}
<!-- Content -->
<section id="page-content">
    <div class="container">
        <!-- Portfolio Filter -->
        <nav class="grid-filter gf-outline" data-layout="#portfolio">
            <ul>
                <li class="active"><a href="#" data-category="*">Todos</a></li>
                <li><a href="#" data-category=".ct-jazz">Jazz</a></li>
                <li><a href="#" data-category=".ct-folclore">Folclore</a></li>
                <li><a href="#" data-category=".ct-cumbia">Cumbia</a></li>
            </ul>
            <div class="grid-active-title">Show All</div>
        </nav>
        <!-- end: Portfolio Filter -->

        <!-- Portfolio -->
        <div id="portfolio" class="grid-layout portfolio-2-columns" data-margin="0">
            <!-- portfolio item -->
            {% for artista in artistas %}
            <div class="portfolio-item img-zoom {% for cat in artista.cats %} ct-{{cat}} {% endfor %}">
                <div class="portfolio-item-wrap">
                    <div class="portfolio-image">
                        <a href="{% url 'artista' artista.id %}"><img src="{{ artista.foto1.url }}" alt=""></a>
                    </div>
                    <div class="portfolio-description">
                        <a href="{% url 'artista' artista.id %}">
                            <h3>{{ artista.nombre }}</h3>
                            <span>{{ artista.habilidades }}</span>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- end: portfolio item -->
        </div>
        <!-- end: Portfolio -->
    </div>
</section>
<!-- end: Content -->
{% endif %}

{% endblock %}
