{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block title %} | ARTISTAS{% endblock %}
{% block content %}
<!-- Page title -->
<section id="page-title" class="text-light" data-parallax-image="{% static 'images/parallax/6.jpg' %}">
<div class="container">
<div class="page-title">
            <h1>Portfolio Grid</h1>
        </div>
        <div class="breadcrumb">
            <ul>
                <li><a href="#">Home</a>
                </li>
                <li><a href="#">Portfolio</a>
                </li>
                <li class="active"><a href="#">Two Columns</a>
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- end: Page title -->

<!-- Page Menu -->
<div class="page-menu menu-outline style-1">
    <div class="container">

        <nav>
            <ul>
                <li class="active"><a href="portfolio-3.html">No space</a></li>
                <li><a href="portfolio-3-space.html">With space</a></li>
                <li><a href="portfolio-3-title.html">Title</a></li>
                <li><a href="portfolio-3-title-desc.html">Title & Description</a></li>
                <li><a href="portfolio-3-shadow.html">Shadow</a></li>
                <li><a href="portfolio-3-shadow-outline.html">Outline</a></li>
                <li><a href="portfolio-3-grey-bg.html">Grey background</a></li>
            </ul>
        </nav>

        <div id="pageMenu-trigger">
            <i class="fa fa-bars"></i>
        </div>

    </div>
</div>
<!-- end: Page Menu -->

<!-- Content -->
<section id="page-content">
    <div class="container">
        <!-- Portfolio Filter -->
        <nav class="grid-filter gf-outline" data-layout="#portfolio">
            <ul>
                <li class="active"><a href="#" data-category="*">Show All</a></li>
                <li><a href="#" data-category=".ct-branding">Branding</a></li>
                <li><a href="#" data-category=".ct-photography">Photography</a></li>
                <li><a href="#" data-category=".ct-marketing">Marketing</a></li>
                <li><a href="#" data-category=".ct-media">Media</a></li>
                <li><a href="#" data-category=".ct-webdesign">Web design</a></li>
            </ul>
            <div class="grid-active-title">Show All</div>
        </nav>
        <!-- end: Portfolio Filter -->

        <!-- Portfolio -->
        <div id="portfolio" class="grid-layout portfolio-2-columns" data-margin="0">

            {% if artistas %}
              <!-- portfolio item -->
              {% for artista in artistas %}
              <div class="portfolio-item img-zoom ct-photography ct-media ct-branding ct-Media">
                  <div class="portfolio-item-wrap">
                      <div class="portfolio-image">
                          <a href="#"><img src="{{ artista.foto1.url }}" alt=""></a>
                      </div>
                      <div class="portfolio-description">
                          <a href="{% url 'artista' artista.id %}">
                              <h3>{{ artista.nombre }}</h3>
                              <span>{{ artista.descripción }}</span>
                          </a>
                      </div>
                  </div>
              </div>
              {% endfor %}
              <!-- end: portfolio item -->
            {% else %}
              <!-- 500 PAGE -->
              <section class="m-t-80 p-b-150">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="page-error-404 text-center">Error</div>
                    </div>
                    <div class="col-lg-6">
                      <div class="text-left">
                        <h1 class="text-medium">Error en el servidor</h1>
                        <p class="lead">Lo lamentamos, algo esta malo en nuestro servidor.</p><div class="seperator m-t-20 m-b-20"></div><button onclick="window.location.reload()" class="btn" type="button">Reload Page</button>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
              <!-- end:  500 PAGE -->
            {% endif %}
        </div>
        <!-- end: Portfolio -->
    </div>
</section>
<!-- end: Content -->

{% endblock %}
