{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block title %} | ARTISTAS{% endblock %}
{% block content %}
<!-- Alertas -->
{% include 'partials/_alerts.html' %}

{% if object_list %}
<!-- Content -->
<section id="page-content">
    <div class="container">
        <!-- Portfolio Filter -->
        <nav class="grid-filter gf-outline" data-layout="#portfolio">
            <ul>
                <li class="active"><a href="#" data-category="*">Todos</a></li>
                <li><a href="#" data-category=".ct-jazz">Jazz</a></li>
                <li><a href="#" data-category=".ct-folclore">Folclore</a></li>
                <li><a href="#" data-category=".ct-cumbia">Cumbia</a></li>
            </ul>
            <div class="grid-active-title">Show All</div>
        </nav>
        <!-- end: Portfolio Filter -->

        <!-- Portfolio -->
        <div id="portfolio" class="grid-layout portfolio-2-columns" data-margin="0">
            <!-- portfolio item -->
            {% for obj in object_list %}
                {% include 'snippets/gridartista.html' with instance=obj %}
            {% endfor %}
            <!-- end: portfolio item -->
        </div>
        <!-- end: Portfolio -->
    </div>
</section>
<!-- end: Content -->
{% endif %}

{% endblock %}
