{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load thumbnail %}
{% block title %} | MIS INVITACIONES{% endblock %}
{% block content %}
{% include 'partials/_alerts.html' %}

<!-- Page Content -->
{% if object_list %}
  {% for object in object_list %}
    <!--Modal Cancelar -->
    {% include 'propuestaslugar/snippets/modalcancelar.html' with instance=object %}
    <!-- end: Modal -->
    <!--Modal Borrar -->
    {% include 'propuestaslugar/snippets/modalborrar.html' with instance=object %}
    <!-- end: Modal -->
    <!--Modal Cancelar elegida -->
    {% include 'propuestaslugar/snippets/modalcancelarelegida.html' with instance=object %}
    <!-- end: Modal -->
  {% endfor %}

<section id="page-content" class="no-sidebar">
    <div class="container">
        <!-- DataTable -->
          <div class="row mb-3">
              <div class="col-lg-6">
                  <h4>Mis Invitaciones</h4>
                  <p>Lista de tus invitaciones a artistas a tocar en tu casa.</p>
              </div>
          </div>

        <div class="row">
            <div class="col-lg-12">
                <table id="datatable" class="table table-bordered table-hover" style="width:100%">
                    <thead>
                        <tr>
                            <th>Dirección</th>
                            <th>Artista</th>
                            <th>Tocata</th>
                            <th>Cuándo</th>
                            <th>Estado</th>
                            <th class="noExport">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                      {% for object in object_list %}
                        <tr>
                            <td>{% if object.lugar.nombre %}{{ object.lugar.nombre }}, {% endif %}{{ object.lugar.nombre_calle }} {{ object.lugar.numero }}, {{ object.lugar.comuna }}</td>
                            <td><a href="{{ object.tocataabierta.artista.get_absolute_url }}">{{ object.tocataabierta.artista.nombre }}</a></td>
                            <td><a href="{{ object.tocataabierta.get_absolute_url }}">{{ object.tocataabierta.nombre }}</a></td>
                            <td>{{ object.tocataabierta.fecha }}, {{ object.tocataabierta.hora }}</td>

                            {% if object.estado == 'elegido' %}
                            <td><span class="badge badge-pill badge-success">{{ object.get_estado_display }}</span></td>
                            {% elif object.estado == 'noelegido' %}
                            <td><span class="badge badge-pill badge-info">{{ object.get_estado_display }}</span></td>
                            {% elif object.estado == 'pendiente' %}
                            <td><span class="badge badge-pill badge-warning">{{ object.get_estado_display }}</span></td>
                            {% elif object.estado == 'cancelado' %}
                            <td><span class="badge badge-pill badge-danger">{{ object.get_estado_display }}</span></td>
                            {% endif %}
                            <td>
                              <div class="p-dropdown">
                                  <a class="btn btn-light btn-shadow btn-round"><i class="icon-menu"></i></a>
                                  <ul class="p-dropdown-content">
                                    {% if object.estado == 'pendiente' %}
                                    <li><a data-target="#modalca{{object.id}}" data-toggle="modal" href="#"><i class="icon-stop-circle"></i>Cancelar Invitación</a></li>
                                    {% elif object.estado == 'elegido' %}
                                    <li><a data-target="#modalcael{{object.id}}" data-toggle="modal" href="#"><i class="icon-stop-circle"></i>Cancelar Tocata</a></li>
                                    {% elif object.estado == 'noelegido' or object.estado == 'cancelado' or object.estado == 'completado' %}
                                    <li><a data-target="#modalbo{{object.id}}" data-toggle="modal" href="#"><i class="icon-x"></i>Borrar</a></li>
                                    {% endif %}
                                  </ul>
                              </div>
                            </td>
                        </tr>
                      {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                          <th>Lugar</th>
                          <th>Tocata</th>
                          <th>Tocata</th>
                          <th>Cuándo</th>
                          <th>Estado</th>
                          <th>Acciones</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <!-- end: DataTable -->
    </div>
</section>
{% else %}
<section id="page-content" class="no-sidebar">
    <div class="container">
        <!-- DataTable -->
          <div class="row mb-3">
              <div class="col-lg-6">
                  <h4>Mis Invitaciones</h4>
                  <p>Actualmente no tienes ninguna invitación.</p>
              </div>
          </div>
        <!-- end: DataTable -->
    </div>
</section>
{% endif %}
<!-- end: Page Content -->

{% endblock %}
