{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load thumbnail %}
{% block title %} | {{ tocataabierta.nombre }} {% endblock %}
{% block content %}
{% include 'partials/_alerts.html' %}

<!-- SHOP CHECKOUT -->
<section id="shop-checkout">
    <div class="container">
        <div class="shop-cart">
                <div class="row">
                    <div class="col-lg-6 no-padding">
                        <div class="row">
                          <div class="col-lg-12">
                              <h4 class="upper">Selecciona Dirección</h4>
                          </div>
                          {% if object_list %}
                          <div class="col-lg-12 form-group">
                            {{ form_prestalacasa.lugar.errors }}
                            {{ form_prestalacasa.lugar }}
                          </div>
                          {% else %}
                          <div class="col-lg-12 form-group">
                              <p>No tienes direcciones {{ tocataabierta.region }}{% if tocataabierta.comuna.nombre != 'Todas'%}, {{ tocataabierta.comuna }}{% endif %}</p>
                          </div>
                          {% endif %}
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-12">
                                <h4 class="upper">Agregar Dirección</h4>
                            </div>
                            <!--Form Agrega Lugar -->
                            {% include 'lugar/snippets/agregalugarform.html' with form=form_lugar %}
                            <!-- end: Form -->
                        </div>
                    </div>
                </div>
        </div>
    </div>
</section>
<!-- end: SHOP CHECKOUT -->

{% endblock %}
