{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block title %} | {{ tocataabierta.nombre }} {% endblock %}
{% block content %}
{% include 'partials/_alerts.html' %}

<!-- Page Content -->
{% if object_list %}
  {% for object in object_list %}
  <!-- Modal Seleccion Propuesta -->
  {% include 'propuestaslugar/snippets/modalaceptapropuesta.html' with instance=object %}
  <!-- end: Modal -->

  <!--Modal detalles lugar -->
  {% include 'propuestaslugar/snippets/modaldetalleslugar.html' with instance=object %}
  <!-- end: Modal -->
  {% endfor %}
{% endif %}

<section id="page-content" class="no-sidebar">
    <div class="container">
        <!-- DataTable -->
          <input type="hidden" class="form-control" value="{{ tocataabierta.id }}" name="tocata">
          <input type="hidden" class="form-control" value="{{ tocataabierta.usuario.id }}" name="usuario">
          <div class="row mb-3">
              <div class="col-lg-6">
                  <h4>{{ tocataabierta.nombre }}</h4>
                  <p>{{ tocataabierta.artista }}</p>
              </div>
          </div>

          {% if object_list %}
          <div class="row">
              <div class="col-lg-12">
                  <table id="datatable" class="table table-bordered table-hover" style="width:100%">
                      <thead>
                          <tr>
                              <th>Contacto</th>
                              <th>Calle</th>
                              <th>Comuna</th>
                              <th>Cuidad</th>
                              <th>Capacidad Aprox.<br>(Lo que pides: {{ tocataabierta.asistentes_min}} min)</th>
                              <th class="noExport">Seleccionar</th>
                          </tr>
                      </thead>
                      <tbody>
                        {% for object in object_list %}
                          <tr>
                              <td>{{ object.lugar.usuario.email }}</td>
                              <td>{{ object.lugar.nombre_calle }}, {{ object.lugar.numero }}</td>
                              <td>{{ object.lugar.comuna }}</td>
                              <td>{{ object.lugar.ciudad }}</td>
                              <td>{{ object.lugar.capacidad }}</td>
                              <td>
                                <div class="p-dropdown">
                                    <a class="btn btn-light btn-shadow btn-round"><i class="icon-menu"></i></a>
                                    <ul class="p-dropdown-content custom-radio-list">
                                        <li><a href="" data-target="#modal{{object.lugar.id}}" data-toggle="modal"><i class="icon-check-circle"></i>Seleccionar</a></li>
                                        <li><a href="" data-target="#modalde{{object.lugar.id}}" data-toggle="modal"><i class="icon-eye"></i>Ver</a></li>
                                    </ul>
                                </div>
                              </td>
                          </tr>
                        {% endfor %}
                      </tbody>
                      <tfoot>
                          <tr>
                            <th>Contacto</th>
                            <th>Calle</th>
                            <th>Comuna</th>
                            <th>Cuidad</th>
                            <th>Capacidad Aprox.</th>
                            <th>Seleccionar</th>
                          </tr>
                      </tfoot>
                  </table>
              </div>
          </div>
          {% endif %}
        <!-- end: DataTable -->
    </div>
</section>
<!-- end: Page Content -->

{% endblock %}
