{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load thumbnail %}
{% block title %} | CUENTA{% endblock %}
{% block content %}

{% include 'partials/_alerts.html' %}

{% if user.is_authenticated %}
<section id="page-content">
    <div class="container">
        <div class="row">
            <div class="content col-lg-12">
              <div class="card">
                  <div class="card-header">
                      <h5 class="card-title">Editar Cuenta</h5>
                      <h6 class="card-subtitle text-muted">Horizontal Bootstrap layout.</h6>
                      <p hidden id="mensajerror"></p>
                  </div>
                  <div class="card-body">
                      <form id="formtocheck" action="{% url 'actualizarart' %}" method="POST">
                        {% csrf_token %}
                          <div class="form-group row">
                              <label class="col-form-label col-sm-2 text-sm-right">Email</label>
                              <div class="col-sm-10">
                                  <input type="email" class="form-control" placeholder="Email" value="{{ user.email }}" readonly>
                              </div>
                          </div>
                          <div class="form-group row">
                              <label class="col-form-label col-sm-2 text-sm-right">Artista</label>
                              <div class="col-sm-10">
                                  <input type="text" class="form-control" placeholder="Email" value="{{ usuario_art.artista.nombre }}" readonly>
                              </div>
                          </div>
                          <div class="form-group row">
                              <label class="col-form-label col-sm-2 text-sm-right">Nombre</label>
                              <div class="col-sm-10">
                                  <input type="text" class="requerido form-control" placeholder="Nombre" value="{{ user.first_name }}" name="nombre">
                              </div>
                          </div>
                          <div class="form-group row">
                              <label class="col-form-label col-sm-2 text-sm-right">Apellido</label>
                              <div class="col-sm-10">
                                  <input type="text" class="requerido form-control" placeholder="Apellido" value="{{ user.last_name }}" name="apellido">
                              </div>
                          </div>
                          <div class="form-group row">
                              <label class="col-form-label col-sm-2 text-sm-right">RUT</label>
                              <div class="col-sm-5">
                                  <input id="rut" type="number" class="requerido form-control" placeholder="Rut" value="{{ usuario_art.rut }}" name="rut">
                              </div>
                              <div class="col-sm-1">
                                  <input id="digitover" type="text" class="requerido form-control" placeholder="Digito Ver." value="{{ usuario_art.digitoVerificador }}" name="digitoVerificador">
                              </div>
                          </div>
                          <div class="form-group row">
                            <label class="col-form-label col-sm-2 text-sm-right">Número Celular</label>
                            <div class="col-sm-1 input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">( +56 ) 9</span>
                            </div>
                            <div class="col-sm-5">
                              <input type="text" class="requerido form-control" placeholder="Número Celular" name="num_celular" value="{{ usuario_art.num_celular|slice:"8:" }}">
                            </div>
                          </div>
                          <div class="form-group row">
                              <label class="col-form-label col-sm-2 text-sm-right" for="{{ usuario_art_form.banco.id_for_label }}">{{ usuario_art_form.banco.label_tag }}</label>
                              <div class="col-sm-10">
                                <select class="form-control" name="{{ usuario_art_form.banco.html_name }}">
                                  {% for banco in usuario_art_form.banco.field.choices %}
                                    <option value="{{ banco.0 }}" {% if banco.0 == usuario_art.banco %} selected {% endif %}>{{ banco.1 }}</option>
                                  {% endfor %}
                                </select>
                              </div>
                          </div>
                          <div class="form-group row">
                              <label class="col-form-label col-sm-2 text-sm-right">Número Cuenta</label>
                              <div class="col-sm-10">
                                  <input type="text" class="requerido form-control" placeholder="Número Cuenta" value="{{ usuario_art.num_cuenta }}" name="num_cuenta">
                              </div>
                          </div>
                          <div class="form-group row">
                              <label class="col-form-label col-sm-2 text-sm-right" for="{{ usuario_art_form.tipo_cuenta.id_for_label }}">{{ usuario_art_form.tipo_cuenta.label_tag }}</label>
                              <div class="col-sm-10">
                                <select class="form-control" name="{{ usuario_art_form.tipo_cuenta.html_name }}">
                                  {% for tipo in usuario_art_form.tipo_cuenta.field.choices %}
                                    <option value="{{ tipo.0 }}" {% if tipo.0 == usuario_art.tipo_cuenta %} selected {% endif %}>{{ tipo.1 }}</option>
                                  {% endfor %}
                                </select>
                              </div>
                          </div>

                          <div class="form-group row">
                              <div class="col-sm-10 ml-sm-auto">
                                  <button type="submit" class="btn btn-primary">Actualizar</button>
                              </div>
                          </div>

                      </form>
                  </div>
              </div>

            </div>
        </div>
    </div>
</section>
{% else %}
<section id="page-content">
    <div class="container">
      <div data-animate="fadeInUp" class="text-center">
          <a href="{% url 'ingresar' %}?next={{request.path|urlencode}}" class="btn">INGRESA A TU CUENTA</a>
      </div>
    </div>
</section>
{% endif %}

{% endblock %}
