{% extends "base-without-header.html" %}
{% load static %}
{% load humanize %}
{% block title %} | NUEVA CONTRASEÑA {% endblock %}
{% block content %}

{% include 'partials/_alerts.html' %}

<!-- Section -->
<section class="fullscreen" data-bg-parallax="{% static 'images/fondos/guitar-3492302.jpg' %}">
    <div class="container">
      <div>
        <div class="text-center m-b-30">
            <a href="{% url 'index' %}" class="logo">
                <img src="{% static 'images/iconos/logo_rojo_negro.png' %}" alt="Polo Logo">
            </a>
        </div>

        <div class="row">
            <div class="col-md-6 offset-3">
                <h2 class="text-center">¿Olvidate tu Contraseña?</h2>
                <form class="form-validation" method="post">
                  {% csrf_token %}
                    <div class="form-group">
                        <p class="center">Para recibir una nueva contraseña, ingresa tu email.</p>
                        <input input id="primercampo" type="email" name="email" class="form-control form-white placeholder" placeholder="Ingresa tu email..." required>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn">Recuperar</button>
                    </div>
                </form>
            </div>
        </div>

      </div>
    </div>
</section>
<!-- end: Section -->

{% endblock %}
