{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load thumbnail %}
{% block title %} | TOCATA ABIERTA{% endblock %}
{% block content %}

{% include 'partials/_alerts.html' %}

{% if user.is_authenticated %}
{% if usuario.es_artista %}
<section id="page-content">
    <div class="container">
        <div class="row">
            <div class="content col-lg-12">
              <div class="card">
                  <div class="card-header">
                      <h5 class="card-title">{{ tocata.nombre }}</h5>
                      <h6 class="card-subtitle text-muted">{{ tocata.lugar.region }}, {{ tocata.lugar.comuna }}</h6>
                      <div class="col-lg-4">
                          <div class="grid-item">
                              <div class="grid-item-wrap">
                                  <div class="grid-image"> <img alt="Image Lightbox" src="{{ tocata.flayer_original.url }}"/>
                                  </div>
                                  <div class="grid-description">
                                      <a title="{{ tocata.artista.nombre }}" data-lightbox="image" href="{{ tocata.flayer_original.url }}" class="btn btn-light btn-rounded">Zoom</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="card-body">
                          <div class="form-group row">
                              <label class="col-form-label col-sm-2 text-sm-right">Nombre</label>
                              <div class="col-sm-10">
                                  <input type="text" class="form-control" placeholder="Nombre" value="{{ tocata.nombre }}" readonly>
                              </div>
                          </div>
                          <div class="form-group row">
                              <label class="col-form-label col-sm-2 text-sm-right">Lugar</label>
                              <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="Lugar" value="{{ tocata.lugar.nombre_calle }} {{ tocata.lugar.numero}}, {{ tocata.lugar.region }}, {{ tocata.lugar.comuna }}" readonly>
                              </div>
                          </div>
                          <div class="form-group row">
                              <label class="col-form-label col-sm-2 text-sm-right">Costo</label>
                              <div class="col-sm-10">
                                  <input type="number" class="form-control" placeholder="Costo" value="{{ tocata.costo }}" readonly>
                              </div>
                          </div>
                          <div class="form-group row">
                              <label for="example-date-input" class="col-form-label col-sm-2 text-sm-right">Fecha</label>
                              <div class="col-10">
                                  <input class="form-control" type="date" value="{{ tocata.fecha|date:"Y-m-d" }}" readonly>
                              </div>
                          </div>
                          <div class="form-group row">
                              <label for="example-date-input" class="col-form-label col-sm-2 text-sm-right">Hora</label>
                              <div class="col-10">
                                  <input class="form-control" type="time" value="{{ tocata.hora|time:"H:i" }}" readonly>
                              </div>
                          </div>
                          <input type="hidden" class="form-control" value="0" name="asistentes_total">
                          <div class="form-group row">
                              <label class="col-form-label col-sm-2 text-sm-right">Asistentes Mínimos</label>
                              <div class="col-sm-10">
                                  <input type="number" class="form-control" placeholder="Asistentes Minimos" value="{{ tocata.asistentes_min }}" readonly>
                              </div>
                          </div>
                          <div class="form-group row">
                              <label class="col-form-label col-sm-2 text-sm-right">Asistentes Máximos</label>
                              <div class="col-sm-10">
                                  <input type="number" class="form-control" placeholder="Asistentes Máximos" value="{{ tocata.asistentes_max }}" readonly>
                              </div>
                          </div>
                          <div class="form-group row">
                              <label class="col-form-label col-sm-2 text-sm-right">Descripción</label>
                              <div class="col-sm-10">
                                  <textarea class="form-control" placeholder="Descripción" rows="3" name="descripción" readonly>{{ tocata.descripción }}</textarea>
                              </div>
                          </div>
                          <div class="form-group row">
                              <div class="col-sm-10 ml-sm-auto">
                                  <a href="{% url 'mistocatas' %}" class="btn btn-primary">Mis Lugares</a>
                              </div>
                          </div>
                  </div>
              </div>

            </div>
        </div>
    </div>
</section>
{% endif %}
{% else %}
<section id="page-content">
    <div class="container">
      <div data-animate="fadeInUp" class="text-center">
          <a href="{% url 'ingresar' %}?next={{request.path|urlencode}}" class="btn">INGRESA A TU CUENTA</a>
      </div>
    </div>
</section>
{% endif %}

{% endblock %}
