{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load thumbnail %}
{% block title %} | SELECCIONA DIRECCIÓN{% endblock %}
{% block content %}

{% include 'partials/_alerts.html' %}

{% url 'tocata:agregaryseleccionadireccion' as agregaryseleccionadireccion_url %}

{% if request.user.is_musico %}
<!-- SHOP CHECKOUT -->
<section id="shop-checkout">
    <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="widget-shop">
                <!--Form Agrega Lugar -->
                {% include 'tocata/snippets/tocatawidget.html' with instance=tocata %}
                <!-- end: Form -->
              </div>
          </div>
      </div>

      <div class="shop-cart">
              <div class="seperator"><i class="fa fa-music"></i>
              </div>
              <div class="row">
                  <div class="col-lg-6">
                      <div class="row">
                        <div class="col-lg-12">
                            <h4 class="upper">Selecciona Dirección</h4>
                        </div>
                        <form action="{% url 'tocata:seleccionardireccion' tocata.slug %}" method="POST">
                        {% csrf_token %}
                        <div class="col-lg-12 form-group">
                          {{ form.lugar.errors }}
                          {{ form.lugar }}
                        </div>
                        <div class="col-lg-12 form-group">
                          <input type="hidden" name="tocataabierta" value="{{ tocataabierta.id }}">
                          <button type="submit" class="btn btn-primary">Seleccionar Dirección</button>
                        </div>
                        </form>
                      </div>
                  </div>
                  <div class="col-lg-6">
                      <div class="row">
                          <div class="col-lg-12">
                              <h4 class="upper">Agregar Dirección</h4>
                          </div>
                          <!--Form Agrega Lugar -->
                          {% include 'lugar/snippets/agregalugarform.html' with form=form_lugar nombreboton='Agregar y Selecciona Dirección' endpoint=agregaryseleccionadireccion_url %}
                          <!-- end: Form -->
                      </div>
                  </div>
              </div>
      </div>
    </div>
</section>
<!-- end: SHOP CHECKOUT -->

{% endif %}

{% endblock %}
