{% load static %}
{% load humanize %}
<!--Modal seleccion -->
<div class="modal fade" id="modal{{instance.lugar.id}}" tabindex="-1" role="modal" aria-labelledby="modal-label" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
          <form action="{% url 'tocata:creartocatadesdetocataabierta' %}" method="POST">
            {% csrf_token %}
            <div class="modal-header">
                <h4 class="modal-title" id="modal-label">Aceptar Lugar</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        {% if instance.lugar.capacidad != tocataabierta.asistentes_min %}
                          <p>El lugar seleccionado tiene capacidades de asistencia diferentes a lo esperado.</p>
                          <p>Si aceptas, se ajustaran los datos de asistencia definidos inicialmente a:</p>
                          <p> - Cambiaremos Asistentencia Mínima de {{tocataabierta.asistentes_min}} a {{instance.lugar.capacidad}} asistentes.</p>
                          <p> - Asistentencia Máxima quedara definida en {{instance.lugar.capacidad}} asistentes.</p>
                        {% else %}
                          <p>¿Estas seguro de aceptar este lugar?</p>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-10">
                        <input type="hidden" name="nombre" id="id_nombre" value="{{ tocataabierta.nombre }}">
                        <input type="hidden" name="lugar" id="id_lugar" value="{{ instance.lugar.id }}">
                        <input type="hidden" name="descripción" id="id_descripción" value="{{ tocataabierta.descripción }}">
                        <input type="hidden" name="costo" id="id_costo" value="0">
                        <input type="hidden" name="fecha" id="id_fecha" value="{{ tocataabierta.fecha|date:"Y-m-d" }}">
                        <input type="hidden" name="hora" id="id_hora" value="{{ tocataabierta.hora|date:"G:i" }}">
                        <input type="hidden" name="asistentes_min" id="id_asistentes_min" value="{{ tocataabierta.asistentes_min }}">
                        <input type="hidden" name="asistentes_max" id="id_asistentes_max" value="{{ instance.lugar.capacidad }}">
                        <input type="hidden" name="tocataabierta" id="id_tocataabierta" value="{{ tocataabierta.id }}">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-b">Confirmar</button>
              <button type="button" class="btn btn-danger m-l-10" data-dismiss="modal">Cancelar</button>
            </div>
          </form>
        </div>
    </div>
</div>
<!-- end: Modal -->
