{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load thumbnail %}
{% block title %} | CUENTA{% endblock %}
{% block content %}

{% include 'partials/_alerts.html' %}

{% if user.is_authenticated %}
<section id="page-content">
    <div class="container">
        <div class="row">
            <div class="content col-lg-12">
              <div class="card">
                  <div class="card-header">
                      <h5 class="card-title">Agregar Lugar</h5>
                      <h6 class="card-subtitle text-muted">Completa el formulario para agregar tu lugar.</h6>
                      <p hidden id="mensajerror"></p>
                  </div>
                  <div class="card-body">
                      <form id="formtocheck" action="{% url 'agregarlugar' %}" method="POST" data-ciudad-url-agregar="{% url 'ajax_load_comunas_agregar' %}">
                        {% csrf_token %}
                          <div class="form-group row">
                              <label class="col-form-label col-sm-2 text-sm-right">{{ lugar_form.nombre.label }}</label>
                              <div class="col-sm-10">
                                {{ lugar_form.nombre }}
                              </div>
                          </div>
                          <div class="form-group row">
                              <label class="col-form-label col-sm-2 text-sm-right">Calle</label>
                              <div class="col-sm-7">
                                {% if lugar_form.nombre_calle.value %}
                                  <input type="text" class="requerido form-control" placeholder="Nombre Calle" value="{{ lugar_form.nombre_calle.value }}" name="nombre_calle">
                                {% else %}
                                  <input type="text" class="requerido form-control" placeholder="Nombre Calle" value="" name="nombre_calle">
                                {% endif %}
                              </div>
                              <label class="col-form-label col-sm-1">Número</label>
                              <div class="col-sm-2">
                                {% if lugar_form.numero.value %}
                                  <input type="number" class="requerido form-control" placeholder="Número Calle" value="{{ lugar_form.numero.value }}" name="numero">
                                {% else %}
                                  <input type="number" class="requerido form-control" placeholder="Número Calle" value="" name="numero">
                                {% endif %}
                              </div>
                          </div>
                          <div class="form-group row">
                              <label class="col-form-label col-sm-2 text-sm-right" for="{{ lugar_form.region.id_for_label }}">{{ lugar_form.region.label_tag }}</label>
                              <div class="col-sm-5">
                                <select class="form-control" name="{{ lugar_form.region.html_name }}" id="id_region">
                                  {% for region in lugar_form.region.field.choices %}
                                    <option value="{{ region.0 }}">{{ region.1 }}</option>
                                  {% endfor %}
                                </select>
                              </div>
                              <label class="col-form-label col-sm-1 text-sm-right" for="{{ lugar_form.comuna.id_for_label }}">{{ lugar_form.comuna.label_tag }}</label>
                              <div class="col-sm-4">
                                <select class="form-control" name="{{ lugar_form.comuna.html_name }}" id="id_comuna">
                                  {% for comuna in lugar_form.comuna.field.choices %}
                                    <option value="{{ comuna.0 }}">{{ comuna.1 }}</option>
                                  {% endfor %}
                                </select>
                              </div>
                          </div>
                          <div class="form-group row">
                              <label class="col-form-label col-sm-2 text-sm-right">Ciudad</label>
                              <div class="col-sm-5">
                                {% if lugar_form.ciudad.value %}
                                  <input type="text" class="form-control" placeholder="Ciudad" value="{{ lugar_form.ciudad.value }}" name="ciudad">
                                {% else %}
                                  <input type="text" class="form-control" placeholder="Ciudad" value="" name="ciudad">
                                {% endif %}
                              </div>
                              <label class="col-form-label col-sm-1 text-sm-right">Depto.</label>
                              <div class="col-sm-4">
                                {% if lugar_form.departamento.value %}
                                  <input type="text" class="form-control" placeholder="Departamento" value="{{ lugar_form.departamento.value }}" name="departamento">
                                {% else %}
                                  <input type="text" class="form-control" placeholder="Departamento" value="" name="departamento">
                                {% endif %}
                              </div>
                          </div>
                          <div class="form-group row">
                              <label class="col-form-label col-sm-2 text-sm-right">Otros</label>
                              <div class="col-sm-10">
                                {% if lugar_form.otros.value %}
                                  <input type="text" class="form-control" placeholder="Block/Villa/etc." value="{{ lugar_form.otros.value }}" name="otros">
                                {% else %}
                                  <input type="text" class="form-control" placeholder="Block/Villa/etc." value="" name="otros">
                                {% endif %}
                              </div>
                          </div>
                          <div class="form-group row">
                              <label class="col-form-label col-sm-2 text-sm-right">Descripción</label>
                              <div class="col-sm-10">
                                {% if lugar_form.descripción.value %}
                                  <textarea class="form-control" placeholder="Descripción" rows="3" name="descripción">{{ lugar_form.descripción.value }}</textarea>
                                {% else %}
                                  <textarea class="form-control" placeholder="Descripción" rows="3" name="descripción"></textarea>
                                {% endif %}
                              </div>
                          </div>
                          <div class="form-group row">
                              <label class="col-form-label col-sm-2 text-sm-right">Capacidad Aprox.</label>
                              <div class="col-sm-10">
                                {% if lugar_form.capacidad.value %}
                                  <input type="number" class="requerido form-control" placeholder="Capacidad" value="{{ lugar_form.capacidad.value }}" name="capacidad">
                                {% else %}
                                  <input type="number" class="requerido form-control" placeholder="Capacidad" value="" name="capacidad">
                                {% endif %}
                              </div>
                          </div>
                          <div class="form-group row">
                              <div class="col-sm-10 ml-sm-auto">
                                  <button type="submit" class="btn btn-primary">Agregar</button>
                              </div>
                          </div>
                      </form>
                  </div>
              </div>

            </div>
        </div>
    </div>
</section>
{% else %}
<section id="page-content">
    <div class="container">
      <div data-animate="fadeInUp" class="text-center">
          <a href="{% url 'ingresar' %}?next={{request.path|urlencode}}" class="btn">INGRESA A TU CUENTA</a>
      </div>
    </div>
</section>
{% endif %}


{% endblock %}
