{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load thumbnail %}
{% block title %} | CUENTA{% endblock %}
{% block content %}

{% include 'partials/_alerts.html' %}

{% if user.is_authenticated %}
<section id="page-content">
    <div class="container">
        <div class="row">
            <div class="content col-lg-12">
              <div class="card">
                  <div class="card-header">
                      <h5 class="card-title">{{ lugar.nombre_calle }} {{ lugar.numero }}, {{ lugar.comuna }}</h5>
                      <h6 class="card-subtitle text-muted">Modifica la informacion de tu lugar.</h6>
                      <p hidden id="mensajerror"></p>
                  </div>
                  <div class="card-body">
                      <form id="formtocheck" action="{% url 'milugar' lugar.id %}" method="POST" data-ciudad-url-actualizar="{% url 'ajax_load_comunas_actualizar' %}">
                        {% csrf_token %}
                          <input type="hidden" class="form-control" value="{{ lugar.comuna.id }}" id="id_comuna_ajax">
                          <input type="hidden" class="form-control" value="{{ lugar.region.id }}" id="id_region_ajax">
                          <input type="hidden" class="form-control" value="{{ lugar.comuna.id }}" name="comuna">
                          <input type="hidden" class="form-control" value="{{ lugar.region.id }}" name="region">
                          <div class="form-group row">
                              <label class="col-form-label col-sm-2 text-sm-right">Calle</label>
                              <div class="col-sm-7">
                                {% if lugar.nombre_calle %}
                                  <input type="text" class="requerido form-control" placeholder="Nombre Calle" value="{{ lugar.nombre_calle }}" name="nombre_calle" readonly>
                                {% else %}
                                  <input type="text" class="requerido form-control" placeholder="Nombre Calle" value="" name="nombre_calle" readonly>
                                {% endif %}
                              </div>
                              <label class="col-form-label col-sm-1">Número</label>
                              <div class="col-sm-2">
                                {% if lugar.numero %}
                                  <input type="text" class="requerido form-control" placeholder="Número" value="{{ lugar.numero }}" name="numero" readonly>
                                {% else %}
                                  <input type="text" class="requerido form-control" placeholder="Número" value="" name="numero" readonly>
                                {% endif %}
                              </div>
                          </div>
                          <div class="form-group row">
                              <label class="col-form-label col-sm-2 text-sm-right" for="{{ lugar_form.region.id_for_label }}">{{ lugar_form.region.label_tag }}</label>
                              <div class="col-sm-5">
                                <select class="form-control" id="id_region" disabled>
                                  {% for region in lugar_form.region.field.choices %}
                                    <option value="{{ region.0 }}" {% if region.0 == lugar.region.id %} selected {% endif %}>{{ region.1 }}</option>
                                  {% endfor %}
                                </select>
                              </div>
                              <label class="col-form-label col-sm-1 text-sm-right" for="{{ lugar_form.comuna.id_for_label }}">{{ lugar_form.comuna.label_tag }}</label>
                              <div class="col-sm-4">
                                <select class="form-control" id="id_comuna" disabled>
                                  {% for comuna in lugar_form.comuna.field.choices %}
                                    <option value="{{ comuna.0 }}" {% if comuna.0 == lugar.comuna.id %} selected {% endif %}>{{ comuna.1 }}</option>
                                  {% endfor %}
                                </select>
                              </div>
                          </div>
                          <div class="form-group row">
                              <label class="col-form-label col-sm-2 text-sm-right">Ciudad</label>
                              <div class="col-sm-5">
                                {% if lugar.ciudad %}
                                  <input type="text" class="form-control" placeholder="Ciudad" value="{{ lugar.ciudad }}" name="ciudad" readonly>
                                {% else %}
                                  <input type="text" class="form-control" placeholder="Ciudad" value="" name="ciudad" readonly>
                                {% endif %}
                              </div>
                              <label class="col-form-label col-sm-1 text-sm-right">Depto.</label>
                              <div class="col-sm-4">
                                {% if lugar.departamento %}
                                  <input type="text" class="form-control" placeholder="Departamento" value="{{ lugar.departamento }}" name="departamento" readonly>
                                {% else %}
                                  <input type="text" class="form-control" placeholder="Departamento" value="" name="departamento" readonly>
                                {% endif %}
                              </div>
                          </div>
                          <div class="form-group row">
                              <label class="col-form-label col-sm-2 text-sm-right">Otros</label>
                              <div class="col-sm-10">
                                {% if lugar.otros %}
                                  <input type="text" class="form-control" placeholder="Block/Villa/etc." value="{{ lugar.otros }}" name="otros" readonly>
                                {% else %}
                                  <input type="text" class="form-control" placeholder="Block/Villa/etc." value="" name="otros" readonly>
                                {% endif %}
                              </div>
                          </div>
                          <div class="form-group row">
                              <label class="col-form-label col-sm-2 text-sm-right">Descripción</label>
                              <div class="col-sm-10">
                                {% if lugar.descripción %}
                                  <textarea class="form-control" placeholder="Descripción" rows="3" name="descripción">{{ lugar.descripción }}</textarea>
                                {% else %}
                                  <textarea class="form-control" placeholder="Descripción" rows="3" name="descripción"></textarea>
                                {% endif %}
                              </div>
                          </div>
                          <div class="form-group row">
                              <label class="col-form-label col-sm-2 text-sm-right">Capacidad Aprox.</label>
                              <div class="col-sm-10">
                                {% if lugar.capacidad %}
                                  <input type="number" class="requerido form-control" placeholder="Ciudad" value="{{ lugar.capacidad }}" name="capacidad" readonly>
                                {% else %}
                                  <input type="number" class="requerido form-control" placeholder="Ciudad" value="" name="capacidad" readonly>
                                {% endif %}
                              </div>
                          </div>
                          <div class="form-group row">
                              <div class="col-sm-10 ml-sm-auto">
                                  <button type="submit" class="btn btn-primary">Actualizar</button>
                              </div>
                          </div>
                      </form>
                  </div>
              </div>

            </div>
        </div>
    </div>
</section>
{% else %}
<section id="page-content">
    <div class="container">
      <div data-animate="fadeInUp" class="text-center">
          <a href="{% url 'ingresar' %}?next={{request.path|urlencode}}" class="btn">INGRESA A TU CUENTA</a>
      </div>
    </div>
</section>
{% endif %}

{% endblock %}
