{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load thumbnail %}
{% block title %} | CUENTA{% endblock %}
{% block content %}
{% include 'partials/_alerts.html' %}

<!-- Page Content -->
{% if user.is_authenticated %}
<section id="page-content" class="no-sidebar">
    <div class="container">
        <!-- DataTable -->
        {% if mislugares %}
          <div class="row mb-3">
              <div class="col-lg-6">
                  <h4>Mis Lugares</h4>
                  <p>Esta es la lista de tus lugares registrados.</p>
              </div>
              <div class="col-lg-6 text-right">
                <a href="{% url 'agregarlugar' %}" class="btn btn-light"><i class="icon-plus"></i> Crear Lugar</a>
                <div id="export_buttons" class="mt-2"></div>
              </div>
          </div>
        {% else %}
          <div class="row mb-3">
              <div class="col-lg-6">
                  <h4>Mis Lugares</h4>
                  <p>Actualmente no tienes ningun lugar registrado donde puedas invitar a tus artistas favoritos.</p>
              </div>
              <div class="col-lg-6 text-right">
                <a href="{% url 'agregarlugar' %}" class="btn btn-light"><i class="icon-plus"></i> Crea Tu Primer Lugar</a>
                <div id="export_buttons" class="mt-2"></div>
              </div>
          </div>
        {% endif %}

        {% if mislugares %}
        <div class="row">
            <div class="col-lg-12">
                <table id="datatable" class="table table-bordered table-hover" style="width:100%">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Calle</th>
                            <th>Comuna</th>
                            <th>Cuidad</th>
                            <th>Capacidad</th>
                            <th class="noExport">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                      {% for lugar in mislugares %}
                        <tr>
                            <td>{{ lugar.nombre }}</td>
                            <td>{{ lugar.nombre_calle }}, {{ lugar.numero }}</td>
                            <td>{{ lugar.comuna }}</td>
                            <td>{{ lugar.ciudad }}</td>
                            <td>{{ lugar.capacidad }}</td>
                            <td>
                                <a class="ml-2" href="{% url 'lugar' lugar.id %}" data-toggle="tooltip" data-original-title="Edit"><i class="icon-edit"></i></a>
                                <a class="ml-2" href="{% url 'borrarlugar' lugar.id %}" data-toggle="tooltip" data-original-title="Delete"><i class="icon-trash-2"></i></a>
                            </td>
                        </tr>
                      {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                          <th>Nombre</th>
                          <th>Calle</th>
                          <th>Comuna</th>
                          <th>Cuidad</th>
                          <th>Capacidad</th>
                          <th>Acciones</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        {% else %}
        {% endif %}
        <!-- end: DataTable -->
    </div>
</section>
{% else %}
<section id="page-content">
    <div class="container">
      <div data-animate="fadeInUp" class="text-center">
          <a href="{% url 'ingresar' %}?next={{request.path|urlencode}}" class="btn">INGRESA A TU CUENTA</a>
      </div>
    </div>
</section>
{% endif %}
<!-- end: Page Content -->


{% endblock %}
