{% load humanize %}
<!--Modal Borrar -->
<div class="modal fade" id="modal{{instance.id}}" tabindex="-1" role="modal" aria-labelledby="modal-label" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modal-label">Borrar Lugar</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        {% if instance.borra == 'SI' %}
                        <p>¿Estas seguro que quieres borralo?</p>
                        {% else %}
                        <p>No puedes borralo, será utilizado en "<a href="{% url 'tocata' instance.tocata.0.id %}">{{ instance.tocata.0.nombre }}</a>"</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
              <form action="{% url 'lugar:borrarlugar' instance.id %}" method="POST">
              {% csrf_token %}
                {% if instance.borra == 'SI' %}
                <button type="submit" class="btn btn-b">Confirmo Borrado</button>
                {% endif %}
                <button type="button" class="btn btn-danger m-l-10" data-dismiss="modal">Anular</button>
              </form>
            </div>
        </div>
    </div>
</div>
<!-- end: Modal -->
