{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block title %} | MIS ENTRADAS{% endblock %}
{% block content %}

{% include 'partials/_alerts.html' %}

<!-- Page Content -->
<section id="page-content" class="no-sidebar">
    <div class="container">
        <!-- DataTable -->
        <div class="row mb-5">
            <div class="col-lg-6">
                <h4>Entradas Compradas</h4>
            </div>
        </div>
        <div class="row">

            <div class="col-lg-12">
                <table id="datatable" class="table table-bordered table-hover" style="width:100%">
                    <thead>
                        <tr>
                            <th>ITicket</th>
                            <th>Tocata</th>
                            <th>Artista</th>
                            <th>Comuna</th>
                            <th>Fecha y Hora</th>
                            <th>Cantidad</th>
                            <th>Precio Unitario</th>
                            <th>Total</th>
                            <th>Orden</th>
                        </tr>
                    </thead>
                    <tbody>
                      {% for object in object_list %}
                        <tr>
                            <td><a href="{{ object.get_absolute_url }}">ITicket</a></td>
                            <td>{{ object.item.tocata.nombre }}</td>
                            <td>{{ object.item.tocata.artista.nombre }}</td>
                            <td>{{ object.item.tocata.comuna }}</td>
                            <td>{{ object.item.tocata.fecha }}, {{ object.item.tocata.hora }}</td>
                            <td>{{ object.item.cantidad }}</td>
                            <td>${{ object.item.tocata.costo|floatformat|intcomma }}</td>
                            <td>${{ object.item.total|floatformat|intcomma }}</td>
                            <td><a href="{% url 'ordenes:detalleorden' object.orden.orden_id %}">{{ object.orden.orden_id }}</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>ITicket</th>
                            <th>Tocata</th>
                            <th>Artista</th>
                            <th>Comuna</th>
                            <th>Fecha y Hora</th>
                            <th>Cantidad</th>
                            <th>Precio Unitario</th>
                            <th>Total</th>
                            <th>Orden</th>
                        </tr>
                    </tfoot>
                </table>

            </div>
        </div>
        <!-- end: DataTable -->

        <!-- Pagination -->
        {% include 'snippets/page.html' with instance=page_obj %}
        <!-- end: Pagination -->
    </div>
</section>
<!-- end: Page Content -->


{% endblock %}
