<form class="form-tocata-ajax" action="{% url 'actualizarcarro' %}" data-endpoint="{% url 'actualizarcarro' %}" method="POST" class="form">
  {% csrf_token %}
  <input type="hidden" name="tocata_id" value="{{ instance.id }}">
  <span class="submit-span">
    {% if instance in carro %}
      <button type="submit" class="btn"><i class="icon-shopping-cart"></i> Quitar</button>
    {% else %}
      <button type="submit" class="btn"><i class="icon-shopping-cart"></i> Agregar</button>
    {% endif %}
  </span>
</form>
