{% load humanize %}
<tbody class="bodycarroupdate">
  {% for item in items %}
    <tr>
        <td class="cart-product-remove">
            {% include 'carro/snippets/quitartocatacarro.html' with tocata_id=item.tocata.id %}
        </td>
        <td class="cart-product-thumbnail">
            <a href="{{ item.tocata.get_absolute_url }}">
                <img src="{{ item.tocata.flayer_380_507.url }}" alt="{{ item.tocata.nombre }}">
            </a>
            <div class="cart-product-thumbnail-name">{{ item.tocata.nombre }}</div>
        </td>
        <td class="cart-product-description">
            <p><span>{{ item.tocata.lugar.region }}</span>
                <span>{{ item.tocata.lugar.comuna }}</span>
                <span>{{ item.tocata.fecha }}</span>
                <span>{{ item.tocata.hora }}</span>
            </p>
        </td>
        <td class="cart-product-price">
            <span class="amount">${{ item.tocata.costo|floatformat|intcomma }}</span>
        </td>
        <td class="cart-product-quantity">
          {% include 'carro/snippets/cantidaditem.html' with instance=item tocata=item.tocata %}
        </td>
        <td class="cart-product-subtotal">
            <span class="amount">${{ item.total|floatformat|intcomma }}</span>
        </td>
    </tr>
  {% endfor %}
</tbody>
