{% load humanize %}
<tr>
    <td class="cart-product-remove">
        {% include 'carro/snippets/quitartocatacarro.html' with tocata_id=instance.id %}
        <!-- <a href="#"><i class="fa fa-times"></i></a> -->
    </td>
    <td class="cart-product-thumbnail">
        <a href="#">
            <img src="{{ instance.flayer_380_507.url }}" alt="{{ instance.nombre }}">
        </a>
        <div class="cart-product-thumbnail-name">{{ instance.nombre }}</div>
    </td>
    <td class="cart-product-description">
        <p><span>{{ instance.lugar.region }}</span>
            <span>{{ instance.lugar.comuna }}</span>
            <span>{{ instance.fecha }}</span>
            <span>{{ instance.hora }}</span>
        </p>
    </td>
    <td class="cart-product-price">
        <span class="amount">${{ instance.costo|floatformat|intcomma }}</span>
    </td>
    <td class="cart-product-quantity">
        <div class="quantity">
            <input type="button" class="minus" value="-">
            <input type="text" class="qty" value="1" name="quantity">
            <input type="button" class="plus" value="+">
        </div>
    </td>
    <td class="cart-product-subtotal">
        <span class="amount">${{ instance.costo|floatformat|intcomma }}</span>
    </td>
</tr>
