{% load humanize %}
<tr>
    <td class="cart-product-thumbnail">
        <div class="cart-product-thumbnail-name">{{ instance.tocata.nombre }}</div>
    </td>
    <td class="cart-product-description">
        <p><span>Donde: {{ instance.tocata.lugar.comuna }}</span>
            <span>Cuando: {{ instance.tocata.fecha }}, {{ instance.tocata.hora }}</span>
            <span>Cantidad: {{ instance.cantidad }}</span>
            <span>Precio Unitario: ${{ item.tocata.costo|floatformat|intcomma }}</span>
        </p>
    </td>
    <td class="cart-product-subtotal">
        <span class="amount">${{ item.total|floatformat|intcomma }}</span>
    </td>
</tr>
