{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block title %} | CANCELACIONES{% endblock %}
{% block content %}
{% include 'partials/_alerts.html' %}

{% if object_list %}
  <section id="page-content" class="no-sidebar">
      <div class="container">

          <div class="row mb-3">
              <div class="col-lg-6">
                  <h4>Tocatas Canceladas</h4>
                  <p>Lista de las tocatas canceladas.</p>
              </div>
          </div>

          <div class="row">
              <div class="col-lg-12">
                  <table id="datatable" class="table table-bordered table-hover" style="width:100%">
                      <thead>
                          <tr>
                              <th>Nombre</th>
                              <th>Lugar</th>
                              <th>Fecha y Hora</th>
                              <th>Costo</th>
                              <th>Asistencia</th>
                              <th>Motivo</th>
                              <th>Estado</th>
                              <th class="noExport">Acciones</th>
                          </tr>
                      </thead>
                      <tbody>
                        {% for object in object_list %}
                          <tr>
                              <td><a href="{{ object.tocata.get_absolute_url }}">{{ object.tocata.nombre }}</a></td>
                              {% if object.tocata.lugar %}
                              <td>{{ object.tocata.lugar.nombre_calle }} {{ object.tocata.lugar.numero }} <br> {{ object.tocata.lugar.region.nombre }}, {{ object.tocata.lugar.comuna.nombre }}</td>
                              {% else %}
                              <td>Aun sin dirección <a href="{% url 'tocata:seleccionardireccion' object.tocata.slug %}"><small>(Seleccion Dirección)</small></a></td>
                              {% endif %}
                              <td>{{ object.tocata.fecha }}, {{ object.tocata.hora}}</td>
                              <td>${{ object.tocata.costo|floatformat|intcomma }}</td>
                              <td>Vendidas: {{ object.tocata.asistentes_total }}
                                  <br> Min: {{ object.tocata.asistentes_min }}
                                  <br>Max: {{ object.tocata.asistentes_max }}
                                  </td>
                              <td>{{ object.get_motivo_display }}</td>
                              {% if object.estado == 'pendiente' %}
                                <td><span class="badge badge-pill badge-danger">{{ object.get_estado_display }}</span></td>
                              {% elif object.estado == 'reembolsado' %}
                                <td><span class="badge badge-pill badge-success">{{ object.get_estado_display }}</span></td>
                              {% endif %}
                              <td>
                                <div class="p-dropdown">
                                    <a class="btn btn-light btn-shadow btn-round"><i class="icon-menu"></i></a>
                                    <ul class="p-dropdown-content">
                                        {% if object.tocata.estado in 'publicado,confirmado,vendido' %}
                                        <li><a href="" data-target="#modalsuce{{object.tocata.id}}" data-toggle="modal"><i class="icon-alert-triangle"></i>Suspender</a></li>
                                        {% endif %}
                                        {% if object.tocata.estado in 'inicial' %}
                                        <li><a href="{% url 'tocata:seleccionardireccion' object.tocata.slug %}"><i class="icon-home"></i>Seleccion Dirección</a></li>
                                        {% endif %}
                                        {% if object.tocata.estado in 'suspendido,completado,inicial' %}
                                        <li><a href="" data-target="#modalboce{{object.tocata.id}}" data-toggle="modal"><i class="icon-x"></i>Borrar</a></li>
                                        {% endif %}
                                        {% if object.tocata.estado in 'publicado,confirmado,vendido' %}
                                        <li>
                                          <hr>
                                        </li>
                                        <li><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http://127.0.0.1:8000/{{ object.tocata.get_absolute_url }}"><i class="icon-facebook"></i>Compartir</a></li>
                                        <li><a href="#"><i class="icon-twitter"></i>Compartir</a></li>
                                        {% endif %}
                                    </ul>
                                </div>
                              </td>
                          </tr>
                        {% endfor %}
                      </tbody>
                      <tfoot>
                          <tr>
                            <th>Nombre</th>
                            <th>Lugar</th>
                            <th>Fecha y Hora</th>
                            <th>Costo</th>
                            <th>Asistencia</th>
                            <th>Motivo</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                          </tr>
                      </tfoot>
                  </table>
              </div>
          </div>
          <!-- Pagination -->
          {% include 'snippets/page.html' with instance=page_obj %}
          <!-- end: Pagination -->

      </div>
  </section>

{% else %}
  <section id="page-content" class="no-sidebar">
      <div class="container">

          <div class="row mb-3">
              <div class="col-lg-6">
                  <h4>Mis Tocatas</h4>
                  <p>Actualmente no tienes ninguna Tocata Intima registrada.</p>
              </div>
              <div class="col-lg-6 text-right">
                  <a href="{% url 'tocata:creartocata' %}" class="btn btn-light"><i class="icon-plus"></i> Crear Tocata Cerrada</a>
                  <div id="export_buttons" class="mt-2"></div>
              </div>
          </div>
      </div>
  </section>
{% endif %}

{% endblock %}
