{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block title %} | ANULACION {{ tocata.nombre }}{% endblock %}
{% block content %}
{% include 'partials/_alerts.html' %}

{% if object_list %}
  <section id="page-content" class="no-sidebar">
      <div class="container">

          <div class="row mb-3">
              <div class="col-lg-6">
                  <h4>Anulacion de Entradas a Tocata: <a href="{{ tocata.get_absolute_url }}">{{ tocata.nombre }}</a></h4>
                  <p>Lista de las entradas compradas que deben ser reembolsadas.</p>
              </div>
          </div>

          <div class="row">
              <div class="col-lg-12">
                  <table id="datatable" class="table table-bordered table-hover" style="width:100%">
                      <thead>
                          <tr>
                              <th>Usuario</th>
                              <th>Costo Unitario</th>
                              <th>Núm. de Entradas</th>
                              <th>Total</th>
                              <th>Fecha</th>
                              <th>Tipo</th>
                              <th>Núm. Tarjeta</th>
                              <th>Estado Reembolso</th>
                              <th class="noExport">Acciones</th>
                          </tr>
                      </thead>
                      <tbody>
                        {% for object in object_list %}
                          <tr>
                              <td>{{ object.entradas_compradas.facturacion_profile.email }}</td>
                              <td>${{ object.entradas_compradas.item.tocata.costo|floatformat|intcomma }}</td>
                              <td>{{ object.entradas_compradas.item.cantidad }}</td>
                              <td>${{ object.entradas_compradas.item.total|floatformat|intcomma }}</td>
                              <td>{{ object.cobro.transactionDate }}</td>
                              <td>{{ object.cobro.paymentTypeCode }}</td>
                              <td>**{{ object.cobro.cardNumber }}</td>
                              {% if object.estado == 'pendiente' %}
                                <td><span class="badge badge-pill badge-danger">{{ object.get_estado_display }}</span></td>
                              {% elif object.estado == 'enviadatbk' %}
                                <td><span class="badge badge-pill badge-warning">{{ object.get_estado_display }}</span></td>
                              {% elif object.estado == 'reembolsado' %}
                                <td><span class="badge badge-pill badge-success">{{ object.get_estado_display }}</span></td>
                              {% elif object.estado == 'reembolsadotbk' %}
                                <td><span class="badge badge-pill badge-success">{{ object.get_estado_display }}</span></td>
                              {% endif %}

                              <form id="enviadatbk{{object.id}}" action="{% url 'cancelaciones:enviartbk' tocata.slug %}" method="post">
                                {% csrf_token %}
                                <input hidden name="anulacion" type="text" value="{{ object.id }}"/>
                              </form>
                              <form id="reembolsado{{object.id}}" action="{% url 'cancelaciones:reembolsado' tocata.slug %}" method="post">
                                {% csrf_token %}
                                <input hidden name="anulacion" type="text" value="{{ object.id }}"/>
                              </form>
                              <form id="reembolsadotbk{{object.id}}" action="{% url 'cancelaciones:reembolsadotbk' tocata.slug %}" method="post">
                                {% csrf_token %}
                                <input hidden name="anulacion" type="text" value="{{ object.id }}"/>
                              </form>
                              <td>
                                  <div class="p-dropdown">
                                      <a class="btn btn-light btn-shadow btn-round"><i class="icon-menu"></i></a>
                                      <ul class="p-dropdown-content">
                                          {% if object.cobro.paymentTypeCode in 'VN,S2,SI,NC,VC'  %}
                                          <li><a href="javascript:;" onclick="document.getElementById('enviadatbk{{object.id}}').submit();"><i class="icon-alert-triangle"></i>Marcar Enviada a Transbank</a></li>
                                          <li><a href="javascript:;" onclick="document.getElementById('reembolsadotbk{{object.id}}').submit();"><i class="icon-alert-triangle"></i>Marcar Reembolsado Transbank</a></li>
                                          {% endif %}
                                          {% if object.cobro.paymentTypeCode in 'VD,VP'  %}
                                            <li><a href="javascript:;" onclick="document.getElementById('reembolsado{{object.id}}').submit();"><i class="icon-alert-triangle"></i>Marcar Reembolsado Manual</a></li>
                                          {% endif %}
                                      </ul>
                                  </div>
                              </td>

                          </tr>
                        {% endfor %}
                      </tbody>
                      <tfoot>
                          <tr>
                            <th>Usuario</th>
                            <th>Costo Unitario</th>
                            <th>Número de Entradas</th>
                            <th>Total</th>
                            <th>Fecha</th>
                            <th>Tipo</th>
                            <th>Núm. Tarjeta</th>
                            <th>Estado Reembolso</th>
                            <th>Acciones</th>
                          </tr>
                      </tfoot>
                  </table>
              </div>
          </div>
          <!-- Pagination -->
          {% include 'snippets/page.html' with instance=page_obj %}
          <!-- end: Pagination -->

      </div>
  </section>

{% else %}
  <section id="page-content" class="no-sidebar">
      <div class="container">
        <div class="row mb-3">
            <div class="col-lg-6">
                <h4>Anulacion de Entradas a Tocata: <a href="{{ tocata.get_absolute_url }}">{{ tocata.nombre }}</a></h4>
                <p>Esta tocata no tiene entradas compradas.</p>
            </div>
        </div>
      </div>
  </section>
{% endif %}

{% endblock %}
