{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block title %} | TOCATAS{% endblock %}
{% block content %}
{% include 'partials/_alerts.html' %}

{% url 'tocataabierta:tocatasabiertas' as tocatasabiertas_url %}

<!-- Shop products -->
<section id="page-content">
    <div class="container">
      <form action="{{ tocatasabiertas_url }}" method="GET">
        <div class="row m-b-20">
            <div class="col-lg-5 p-t-10 m-b-20">
                <h3 class="m-b-20">Artistas buscan donde tocar: </h3>
            </div>
            <div class="col-lg-3">
                <div class="order-select">
                    <h6>Ordenar por:</h6>
                        <select class="form-control" name="orden" onchange="changeorden()">
                            <option value="fecha" {% if orden == 'fecha' %} selected="selected" {% endif %}>Fecha Evento</option>
                            <option value="nombre" {% if orden == 'nombre' %} selected="selected" {% endif %}>Nombre Tocarta</option>
                            <option value="artista__nombre" {% if orden == 'artista__nombre' %} selected="selected" {% endif %}>Nombre Artista</option>
                        </select>
                </div>
            </div>
            <div class="col-lg-1">
                <div class="order-select">
                    <h6> -- ↑ ↓ -- </h6>
                        <select class="form-control" name="direccion" onchange="changefiltro()">
                            <option value="asc" {% if direccion == 'asc' %} selected="selected" {% endif %}>ASC</option>
                            <option value="des" {% if direccion == 'des' %} selected="selected" {% endif %}>DES</option>
                        </select>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-1">
                  <h6> <br> </h6>
                  <button type="submit" class="btn btn-sm">Aplicar</button>
                </div>
            </div>
          </div>
        </form>
        <!--Product list-->
        {% if object_list %}
        <div class="shop">
            <div class="row">
              {% for object in object_list %}
                <div class="col-lg-3">
                {% include 'tocataabierta/snippets/gridtocataabierta.html' with instance=object %}
                </div>
              {% endfor %}
            </div>
            <!-- Pagination -->
            {% include 'snippets/page.html' with instance=page_obj %}
            <!-- end: Pagination -->
        </div>
        {% else %}
        <div class="shop">
          <p>Actualmente no tenemos Tocatas Intimas diponibles.</p>
        </div>
        {% endif %}
        <!--End: Product list-->
    </div>
</section>
<!-- end: Shop products -->

{% endblock %}
