{% load humanize %}
<!--Modal borrar -->
<div class="modal fade" id="modalboab{{instance.id}}" tabindex="-1" role="modal" aria-labelledby="modal-label" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modal-label">Borrar Tocata Abierta</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <p>¿Seguro quieres borrar "{{ instance.nombre }}"?</p>
                    </div>
                </div>
            </div>
            <form action="{% url 'tocataabierta:borrartocataabierta' instance.id %}" method="POST">
              {% csrf_token %}
              <div class="modal-footer">
                <button type="submit" class="btn btn-b">Confirmo Borrado</button>
                <button type="button" class="btn btn-danger m-l-10" data-dismiss="modal">Anular</button>
              </div>
            </form>
        </div>
    </div>
</div>
<!-- end: Modal -->
